<div *ngIf="addNewAddressInd;else showAddresses">
    <div *ngIf="addressForm">
        <form nz-form [nzLayout]="'horizontal'" [formGroup]="addressForm" (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-label [nzSpan]="5">Contact Person</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback>
                    <input nz-input formControlName="contactPerson" placeholder="Contact Person" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSpan]="5">Contact Number</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback>
                    <input nz-input formControlName="contactNumber" placeholder="Contact Number" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSpan]="5">Email Address</nz-form-label>
                <nz-form-control [nzSpan]="12">
                    <input nz-input formControlName="contactEmailAddress" placeholder="Contact Email Address" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSpan]="5">Address Line 1</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback>
                    <input nz-input formControlName="addressLine1" placeholder="Address Line 1" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSpan]="5">Address Line 2</nz-form-label>
                <nz-form-control [nzSpan]="12">
                    <input nz-input formControlName="addressLine2" placeholder="Address Line 2" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSpan]="5">Address Types</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback>
                    <nz-radio-group formControlName="addressTypeId">
                        <label nz-radio-button [nzValue]="addressType.id"
                            *ngFor="let addressType of addressTypes; trackBy: trackById">{{addressType.name}}</label>
                    </nz-radio-group>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSpan]="5">Countries</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback>
                    <nz-select name="select-country" formControlName="countryId" [nzDisabled]="true">
                        <nz-option [nzValue]="countryOption.id" [nzLabel]="countryOption.name"
                            *ngFor="let countryOption of countries; trackBy: trackById"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSpan]="5">Cities</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback>
                    <nz-select name="select-city" formControlName="cityId">
                        <nz-option [nzValue]="city.id" [nzLabel]="city.name"
                            *ngFor="let city of cities; trackBy: trackById"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSpan]="5">Zone</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback>
                    <nz-select name="select-zone" formControlName="zoneId">
                        <nz-option [nzValue]="zone.id" [nzLabel]="zone.name"
                            *ngFor="let zone of zones; trackBy: trackById">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>

</div>

<ng-template #showAddresses>
    <vs-panel [title]="'Shipping Address'">
        <div extra>
            <a href="javascript:void(0)" nz-button nzType="link" (click)="addNewAddressInd = true">Add New Address</a>
        </div>
        <div body class="content-wrapper">
            <nz-radio-group [(ngModel)]="selectAddressId">
                <nz-table #addressListTable [nzData]="addresses$ | async" [nzHideOnSinglePage]="true">
                    <thead>
                        <tr>
                            <th>Contact Person</th>
                            <th>Contact Number</th>
                            <th>Email Address</th>
                            <th>Address</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of addressListTable.data">
                            <td>{{data.contactPerson}}</td>
                            <td>{{data.contactNumber}}</td>
                            <td>{{data.contactEmailAddress}}</td>
                            <td>{{data.addressLine1}},{{data.addressLine2}},{{data.city}}</td>
                            <td><label nz-radio [nzValue]="data.id"></label></td>
                        </tr>
                    </tbody>
                </nz-table>
            </nz-radio-group>
        </div>
    </vs-panel>
</ng-template>