@import 'src/@vertical/scss/root';

:host {
  #slider-banner {
    @include media-breakpoint('xs') {
      margin: 0 !important;
      padding: 0 !important;
    }
  }

  .masonry-item {
    width: 33.33%;
  }

  .sub-banner-wrapper {
    // @include media-breakpoint('lt-sm') {
    //   display: none !important;
    // }

    .sub-banner {
      height: 100%;
    }
  }

  .main-banner-wrapper {
    padding-left: 0.5em !important;

    @include media-breakpoint('xs') {
      margin: 0 !important;
      padding: 0 !important;
    }

    [nz-carousel-content] {
      text-align: center;
      background: #364d79;
      color: #fff;
      overflow: hidden;
      min-height: 235px;
    }
  }

  .main-banner {
    @include media-breakpoint('gt-xs') {
      padding-top: 0.5em;
    }
  }

  .content {
    .inner-box {
      cursor: pointer;

      &:hover {
        img {
          transform: scale(1.1);
          transition: all 0.5s ease;
        }
      }

      img {
        padding: 15px 32px 4px 32px;
        transform: scale(1);
        transition: 0.5s;

        @include media-breakpoint('lt-md') {
          padding: 10px;
        }
      }
    }
  }
}
