<div class="container">
    <section id="slider-banner" class="p-0">
        <div class="main-banner">
            <div class="p-grid p-nogutter">
                <div class="p-col-12 p-sm-12 p-lg-4 sub-banner-wrapper d-none d-md-block d-lg-block">
                    <div class="p-grid p-nogutter sub-banner">
                        <div class="p-col-12">
                            <a href="#">
                                <div class="sub-banner1"></div>
                            </a>
                        </div>
                        <div class="p-col-12">
                            <a href="#">
                                <div class="sub-banner2"></div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="p-col-12 p-sm-12 p-lg-8 main-banner-wrapper">
                    <owl-carousel-o #owlElement [options]="carousel.options" class="owl-dot-style-2">
                        <ng-container class="main-slider" *ngFor="let banner of carousel.slides;let i = index">
                            <ng-template carouselSlide>
                                <div class="main-slider">
                                    <a href="#">
                                        <div [ngStyle]="banner.style" class="banner-image">
                                        </div>
                                    </a>
                                </div>
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="p-grid p-justify-between p-nogutter category-container">
                <div class="p-col-3 p-sm-3 p-lg-1 category-wrapper p-nogutter" *ngFor="let category of categories">
                    <div class="category">
                        <img src="assets/images/home/slider-banner/categories/{{category.icon}}">
                        <div class="title p-2 line-height-1.75">
                            {{category.label}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>