<!-- <section class="register-page section-b-space"> -->
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-6">
        <div *ngFor="let e of (authState | async).errors">
          <div *ngIf="e.errorEffect == 'SIGN_UP'" class="alert-warning">
            <div *ngIf="e.error.status === 400">Bad Credentials</div>
            <div *ngIf="e.error.status === 401">401 Error</div>
            <div *ngIf="e.error.status === 409">An account with this email already exists!</div>
            <div *ngIf="e.error.status === 500 || e.error.status === 0">Internal server error! Please contact our
              support
              team.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div *ngIf="(authState | async).loading" class="loader"></div>
        <h3>create account</h3>
        <div class="theme-card">
          <form class="theme-form" [formGroup]="signUpForm" (ngSubmit)="onSubmitted()">
            <div class="form-row">
              <div class="col-md-6">
                <label for="email">First Name</label>
                <input type="text" class="form-control" id="fname" placeholder="First Name" required="">
              </div>
              <div class="col-md-6">
                <label for="review">Last Name</label>
                <input type="password" class="form-control" id="lname" placeholder="Last Name" required="">
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6">
                <label for="email">email</label>
                <input type="text" class="form-control" id="email" placeholder="Email" required=""
                  formControlName="email">
                <span *ngIf="signUpForm.get('email').invalid && signUpForm.get('email').touched" class="alert-danger">
                  Please enter a valid email!
                </span>
              </div>
              <div class="col-md-6">
                <label for="review">Password</label>
                <input type="password" class="form-control" id="review" placeholder="Enter your password" required="">
              </div>
              <button class="btn btn-solid">create Account</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- </section> -->