<div class="container">
    <div class="loading-wrapper">
        <ng-template #indicatorTemplate><i nz-icon nzType="loading"></i></ng-template>
        <nz-spin nzSimple [nzSize]="'large'" [nzSpinning]="loading"> </nz-spin>
    </div>

    <div nz-row [nzGutter]="16" *ngIf="itemCount > 0 ;else noresult">
        <div nz-col [nzXs]="24" [nzLg]="16">
            <nz-space nzDirection="vertical">
                <nz-space-item>
                    <div class="list-title">
                        <div>
                            <label class="mr-2" nz-checkbox
                                [nzChecked]="shoppingCart.cart?.cartString?.checkStatus === 1"
                                [nzIndeterminate]="shoppingCart.cart?.cartString?.checkStatus === 2"
                                (nzCheckedChange)="onAllChecked($event)">SELECT ALL
                                ({{shoppingCart.itemCount}}
                                ITEM(S))</label>
                        </div>
                        <div>
                            <a nz-popconfirm nzPopconfirmTitle="Are you sure remove selected cart items?"
                                nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirm()" (nzOnCancel)="cancel()">
                                <i nz-icon nzType="delete"></i>&nbsp; DELETE
                            </a>
                        </div>
                    </div>
                </nz-space-item>

                <nz-space-item *ngFor="let data of shoppingCart.cart?.cartString?.cartPackages | orderBy: 'supplierId'">
                    <div class="list-title">
                        <div>
                            <label nz-checkbox [nzChecked]="data.checkStatus === 1"
                                [nzIndeterminate]="data.checkStatus === 2"
                                (nzCheckedChange)="onPackageChecked($event,data.supplierId)">{{data.supplierName | uppercase}}</label>
                        </div>
                    </div>
                    <div class="list-body">
                        <nz-list>
                            <nz-list-item *ngFor="let item of data.cartItems | orderBy: 'cartItemId'">
                                <ng-container>
                                    <nz-list-item-meta>
                                        <nz-list-item-meta-avatar>
                                            <label class="mr-2" nz-checkbox [nzChecked]="item.selectOrder === true"
                                                (nzCheckedChange)="onItemChecked(item.cartItemId, $event)"
                                                [nzDisabled]="item.quantityOnHand <= 0"></label>
                                            <img width="80" [src]="blobUrl + item.thumbnailUrl">
                                        </nz-list-item-meta-avatar>
                                        <nz-list-item-meta-title>
                                            <a href
                                                [routerLink]="['/products/',item.productId]">{{ item.stockItemName }}</a>
                                        </nz-list-item-meta-title>
                                        <nz-list-item-meta-description>
                                            <div class="price">
                                                <span class="price-label">Price : </span>
                                                <span class="item-price">{{ item.unitPrice | currency }}</span>
                                            </div>

                                            <div>
                                                <nz-tag *ngIf="item.quantityOnHand > 0 && item.quantityOnHand < 2"
                                                    [nzColor]="'volcano'" style="margin-top: 0.5em;">Only
                                                    {{item.quantityOnHand}} Item Left
                                                </nz-tag>

                                                <nz-tag *ngIf="item.quantityOnHand <= 0" [nzColor]="'#f50'"
                                                    style="margin-top: 0.5em;">
                                                    Out Of Stock
                                                </nz-tag>
                                            </div>

                                            <div class="cart-controller">
                                                    <a nz-button nzType="link" nzTooltipTitle="Add to wishlist"
                                                        nzTooltipPlacement="bottom" nz-tooltip>
                                                    <i nz-icon nzType="heart" [nzTheme]="'outline'"></i>
                                                </a>
                                                <a nz-button nzType="link" (click)="remove.emit(item.cartItemId)"
                                                    nzTooltipTitle="Remove" nzTooltipPlacement="bottom" nz-tooltip>
                                                    <i nz-icon nzType="delete"></i>
                                                </a>
                                            </div>
                                        </nz-list-item-meta-description>
                                    </nz-list-item-meta>
                                    <div class="quantity">
                                        <button class="minus-btn" nz-button nzType="default" [nzSize]="'small'"
                                            (click)="onReduce(item.cartItemId,1)" [disabled]="item.quantity <=1 ">
                                            <i nz-icon nzType="minus"></i>
                                        </button>
                                        <input type="text" name="name" min="1" [value]="item.quantity" readonly>
                                        <button class="plus-btn" nz-button nzType="default" [nzSize]="'small'"
                                            (click)="onAdd(item.stockItemId,1)"
                                            [disabled]="item.quantityOnHand - item.quantity <= 0">
                                            <i nz-icon nzType="plus"></i>
                                        </button>
                                    </div>
                                </ng-container>
                            </nz-list-item>
                        </nz-list>
                    </div>
                </nz-space-item>
            </nz-space>
        </div>

        <div nz-col [nzXs]="24" [nzLg]="8">
            <vs-panel [title]="'Order Summary'">
                <div extra><span>Sub Total - </span>{{shoppingCart.cart?.cartString?.selected_quantity}} item(s)</div>
                <div body class="content-wrapper">
                    <nz-list class="summary-list">
                        <nz-list-item>
                            <nz-list-item-meta>
                                <nz-list-item-meta-title>
                                    Cart
                                </nz-list-item-meta-title>
                            </nz-list-item-meta>
                            <nz-list-item-extra>
                                <span class="price">{{ cartPrice | currency }}</span>
                            </nz-list-item-extra>
                        </nz-list-item>
                        <nz-list-item>
                            <nz-list-item-meta>
                                <nz-list-item-meta-title>
                                    Shipping Fee
                                </nz-list-item-meta-title>
                            </nz-list-item-meta>
                            <nz-list-item-extra>
                                <span class="price">{{ shoppingCart?.cart.totalShippingFee | currency }}</span>
                            </nz-list-item-extra>
                        </nz-list-item>
                        <nz-list-item>
                            <div *ngIf="!shoppingCart.cart?.discount?.code;else discountview" style="width: 100%;">
                                <nz-input-group nzSearch nzSize="medium" [nzAddOnAfter]="suffixButton">
                                    <input #voucherCode type="text" nz-input placeholder="Enter Voucher Code" />
                                </nz-input-group>
                                <ng-template #suffixButton>
                                    <button nz-button nzType="default" nzSize="medium"
                                        (click)="apply.emit(voucherCode.value)">Apply
                                    </button>
                                </ng-template>
                            </div>
                            <ng-template #discountview>
                                <nz-list-item-meta>
                                    <nz-list-item-meta-title>
                                        Applied Code
                                    </nz-list-item-meta-title>
                                </nz-list-item-meta>
                                <nz-list-item-extra>
                                    <span class="price">{{ shoppingCart.cart.discount.code }}</span>
                                </nz-list-item-extra>
                            </ng-template>
                        </nz-list-item>
                        <nz-list-item *ngIf="shoppingCart.cart.discount?.code">
                            <nz-list-item-meta>
                                <nz-list-item-meta-title>
                                    Discount
                                </nz-list-item-meta-title>
                            </nz-list-item-meta>
                            <nz-list-item-extra>
                                <span
                                    class="price">{{ shoppingCart.cart.discount.amount? (shoppingCart.cart.discount.amount | currency) : (shoppingCart.cart.discount.percentage + '%') }}</span>
                            </nz-list-item-extra>
                        </nz-list-item>
                        <nz-list-item>
                            <nz-list-item-meta>
                                <nz-list-item-meta-title>
                                    Total
                                </nz-list-item-meta-title>
                            </nz-list-item-meta>
                            <nz-list-item-extra>
                                <span class="price total-price">{{ shoppingCart.cart.totalPrice | currency }}</span>
                            </nz-list-item-extra>
                        </nz-list-item>
                    </nz-list>
                    <button class="checkout" nz-button nzType="primary" nzBlock nzDanger
                        [disabled]="shoppingCart.cart?.cartString?.selectedCount < 1"
                        (click)="proceedToCheckout()">PROCEED TO
                        CHECKOUT</button>
                </div>
            </vs-panel>
        </div>
    </div>
    <ng-template #noresult>
        <nz-empty nzNotFoundImage="simple" [nzNotFoundContent]="contentTpl" [nzNotFoundFooter]="footerTpl"></nz-empty>
        <ng-template #contentTpl>
            <span> Empty in compare list </span>
        </ng-template>
        <ng-template #footerTpl>
            <button nz-button nzType="primary" [routerLink]="['/']">Continue Shopping</button>
        </ng-template>
    </ng-template>
</div>