<div class="page-layout blank collection-wrapper">
    <div class="container">
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                <a [routerLink]="'/'">Home</a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                <span>{{productDetails?.name}}</span>
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>

    <product-detail [product]="product$ | async" [productObject]="productDetails$ | async"
        [productObjectLoading]="productDetailsLoading$ | async" [inCompare]="isSelectedStockItemInCompare$ | async"
        [inWishlist]="isSelectedStockItemInWishlist$ | async" [inCart]="isSelectedStockItemInCart$ | async"
        (addToCompare)="addToCompare($event)" (removeFromCompare)="removeFromCompare($event)"
        (addToWishlist)="addToWishlist($event)" (removeFromWishlist)="removeFromWishlist($event)"
        (addCart)="addToCart($event)"></product-detail>
</div>