<div id="main">
    <ng-container>
        <ng-container *ngTemplateOutlet="toolbar"></ng-container>
    </ng-container>

    <ng-container>
        <ng-container *ngTemplateOutlet="header"></ng-container>
    </ng-container>

    <!-- <div class="container">
        <nav aria-label="breadcrumb" *ngIf="(crumbs$ | async)?.length">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/home">
                        <fa-icon icon="home" class="home"></fa-icon>
                    </a>
                </li>
                <li class="breadcrumb-item" *ngFor="let crumb of (crumbs$ | async)">
                    <fa-icon icon="chevron-right" class="ml-2 mr-3"></fa-icon>
                    <a href="#">{{crumb.label}}</a>
                </li>
            </ol>
        </nav>
    </div> -->

    <content></content>

    <ng-container>
        <ng-container *ngTemplateOutlet="footer"></ng-container>
    </ng-container>

    <ng-container>
        <ng-container *ngTemplateOutlet="footerFixed"></ng-container>
    </ng-container>
</div>
<ng-template #toolbar>
    <toolbar></toolbar>
</ng-template>

<ng-template #header>
    <app-header></app-header>
</ng-template>

<ng-template #footer>
    <footer id="footer" data-footer-style="1"></footer>
</ng-template>

<ng-template #footerFixed>
    <footer-fixed></footer-fixed>
</ng-template>