<div class="tandc-header">
    <span>{{pageTitle | uppercase}}</span>
</div>

<div class="container">
    <div class="tandc-body">
        <ol>
            <li>
                <span class="body-title">နိဒါန်း</span>
                <p>
                    www.gumkino.comအား အသုံးပြုသူ၊ ဝန်ဆောင်မှုသုံးစွဲသူများမှ အောက်ပါ စည်းကမ်းသတ်မှတ်ချက်များအား
                    အသုံးမပြုခင် ကျေးဇူးပြု၍ သေချာဖတ်ပါ။ ဤအသုံးပြုမှုဆိုင်ရာ သတ်မှတ်ချက်များကို သင်သဘောမတူပါက
                    ဤပလက်ဖောင်း (သို့) ဝန်ဆောင်မှုများကို အသုံးပြနိုင်မပြုပါနှင့်။ ZeZaWar ဝန်ဆောင်မှုများ၏
                    ဝင်ရောက်အသုံးပြုမှုများအားလုံးသည် အသက် ၁၈ နှစ်ပြည့်ပီးသူဖြစ်ပီး ZeZaWar စည်းမျဉ်းများကို
                    အပြည့်အဝလုပ်ပိုင်ခွင့်ရှိသူ (သို့) တရားဝင်မိဘ (သို့) တရားဝင်အုပ်ထိန်းသူ၏ ခွင့်ပြုချက်ရယူထားပီးသူ
                    ဖြစ်ရပါမည်။ အသက် ၁၈နှစ်မပြည့်၍ မိမိအုပ်ထိန်းသူမိဘမှ ခွင့်ပြုချက်မရပါက ZeZaWar၏
                    ဝန်ဆောင်မူအသုံးပြုမှုကို ချက်ချင်း ရပ်ဆိုင်းရမည်။ ZeZaWar ဝန်ဆောင်မှုများ၏ ဝင်ရောက်အသုံးပြုမှုများ
                    အားလုံးကို လျို့ဝှက်နံပါတ်ဖြင့် တစ်ဦးချင်းစီ၏ အသုံးပြုမှုတိုင်းကို ကန့်သတ်ထားပါသဖြင့်
                    မိမိကိုယ်ပိုင် လျှို့ဝှက်နံပါတ်အား မျှဝေခြင်းမပြုလုပ်ရပါ။ ၏ZeZaWarမှ ဝန်ဆောင်မှုများအားသုံးစွဲရန်
                    မိမိနှင့်မသတ်ဆိုင်သော အခြားဝန်ဆောင်မှုသုံးစွဲသူများ၏ အချက်အလက်များကို ခွင့်ပြုချက်မရှိပဲ
                    သုံးစွဲ၍ဝင်ရောက်ရန် ကြိုးစားမည်မဟုတ်ပါ၊ ZeZaWar၏ ကွန်ပျူတာကွန်ယက်များအား နှောင့်ယှက်ရန်
                    ဝင်ရောက်ဖျက်စီးချင်းများမပြုပါဟု သဘောတူပါသည်။ အကယ်၍ ဖေါက်ဖျက်ပါက မြန်မာနိုင်ငံမှ ပြဌာန်း ၂ဝဝ၄ခုနှစ်
                    အီလက်ထရောနစ် အရောင်းအဝယ်ဥပဒေမှ အီလက်ထရောနစ်မှတ်တမ်းများနှင့် သက်ဆိုင်သည့်ပြင်ဆင်ထားသော
                    ပြဌာန်းချက်များအရ တည်ဆဲဥပဒေနှင့်အညီ အကျိုးသက်ရောက်မည်။
                </p>
            </li>

            <li>
                <span class="body-title">www.gumkino.com website၏ ဝန်ဆောင်မှု အခြေခံအချက်များအကြောင်း</span>
                <ol>
                    <li>
                        <span>စည်းကမ်းသတ်မှတ်ချက်များ အသစ်သတ်မှတ်ခြင်းနှင့် ပြင်ဆင်ခြင်းများ</span>
                        <p>
                            ZeZaWar၏ သတ်မှတ်ထားသော စည်းကမ်းသတ်မှတ်ချက်များကို သက်ဆိုင်ရာ တည်ဆဲဥပဒေများ၊ နည်းဥပဒေများ၊
                            အမိန့် ကြော်ငြာစာများ၊ ညွှန်ကြားချက်နှင့်လုပ်ထုံးလုပ်နည်းပြဌာန်းချက်များတွင်
                            အပြောင်းအလဲတစ်စုံတစ်ရာ ဖြစ်ပေါ် သည့်အချိန်တွင်လည်းကောင်း၊ ZeZaWarမှ
                            ပြောင်းလဲမှုသတ်မှတ်ပြင်ဆင်မှုများပြုလုပ်ရန် လိုအပ်သည်ဟု ယူဆသည့်အချိန်တွင်လည်းကောင်း
                            ပြင်ဆင်ခြင်း များ ပြုလုပ်သွားမည်ဖြစ်ပါသည်။
                        </p>
                    </li>
                    <li>
                        <span>ပလက်ဖောင်းနှင့်ဝန်ဆောင်မှုများ အသုံးပြုပုံနှင့်ပါတ်သတ်၍ အထွေအထွေအချက်များ</span>
                        <ol>
                            <li>
                                <p>
                                    ZeZaWarမှ မည်သည့်အချိန်တွင်မဆို ဝန်ဆောင်မှုများနှင့်ပါတ်သတ်၍လည်းကောင်း၊
                                    လုပ်ငန်းလည်ပါတ်မှုဆိုင်ရာ စည်းမျဥ် စည်းကမ်းများနှင့်ပါတ်သတ်၍လည်းကောင်း
                                    ကြိုတင်အကြောင်းကြားခြင်းမရှိဘဲ အရောင်းအချက်အလက်များ၊ ဈေးနှုန်းများ၊
                                    စည်းကမ်းချက်များ၊
                                    စာချုပ်ပါအကြောင်းအရာများ နှင့် အခြားအချက်အလက်များကို ပြောင်းလဲပိုင်ခွင့်၊
                                    ပြင်ဆင်ခွင့် ၊
                                    ဖြည့်ဆွက်ခွင့် (သို့) ဖယ်ရှားခွင့်တို့ ပြုလုပ်ပိုင်ခွင့် ရှိသည်။
                                    ထိုသို့ပြောင်းလဲမှုများသည် မည်သည့် ကြိုတင်အကြောင်းကြားခြင်းမရှိပဲ
                                    သက်ရာက်မည်ဖြစ်သောကြောင့် ဝန်ဆောင်မှုအသုံးပြုသူများမှ စည်းကမ်းသက်မှတ်ချက်များကို
                                    ပုံမှန်
                                    စစ်ဆေးပါ။ စည်းကမ်းသတ်မှတ်ချက်များကို ပြင်ဆင်ပြီး သင့်လျော်သော အချိန်ကာလအတွင်းတွင်
                                    ဝန်ဆောင်မှုအသုံးပြုသူထံမှ ကန့်ကွက်ချက်မရှိပဲ ဝန်ဆောင်မှုအသုံးပြုသူက
                                    ZeZaWarပလက်ဖောင်းအား
                                    ဆက်လက်အသုံးပြုခြင်းသည် ထိုပြင်ဆင်ပြောင်းလဲချက်များကို သဘောတူပြီး ဖြစ်သည်ဟု
                                    သတ်မှတ်ကြပါမည်။
                                </p>
                            </li>
                            <li>
                                <span>အောက်ပါ ကန့်သတ်ထားသောအရာများကို မပြုလုပ်ကြောင်း သဘောတူပါသည်။</span>
                                <ul>
                                    <li>
                                        <p>ZeZaWaဝန်ဆောင်မှုများအား တရားမဝင်ဝင်ရောက်အသုံးပြုခြင်း</p>
                                    </li>
                                    <li>
                                        <p>
                                            ZeZaWa ပလက်ဖောင်း အသုံးပြုသူများ၏ ကိုယ်ရေးအချက်အလက်များအား ခိုးယူရန် (သို့)
                                            မိမိနှင့်မသက်ဆိုင်သော ZeZaWaဝန်ဆောင်မှုများအား
                                            အခြားဝန်ဆောင်မှုအသုံးပြုသူအယောင်ဆောင်၍ အခြားသူမသိအောင် ဝန်ဆောင်မှုများ
                                            သုံးစွဲခြင်း
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            ZeZaWa ပလက်ဖောင်း၏ ကွန်ပျူတာကွန်ယက်များအား အခြားကွန်ပျူတာစနစ်များဖြင့်
                                            (သို့)
                                            ခွင့်ပြုချက်မရှိပဲ ဝင်ရောက်ခြင်း၊ ZeZaWa ပလက်ဖောင်း၏ ကွန်ပျူတာကွန်ယက်များအား
                                            အချက်အလက်များကို ပျက်စီးစေရန် နှောက်ယှက်ဖျက်စီးရန်
                                            ဗိုင်းရပ်စ်များနှင့်ဆော့ဖ်ဝဲလ်များ အသုံးပြုခြင်း၊ အင်တာနက်ကွန်ယက်
                                            စံချိန်စံညွှန်းများ (သို့) အခြားတည်ဆဲဥပဒေများနှင့် မညီညွှတ်သော ကွန်ပျူတာ
                                            နှင့်
                                            အခြားမိုဘိုင်းစက်များဖြင့် ZeZaWa ပလက်ဖောင်းသို့ ဝင်ရောက်ခြင်း
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            မြန်မာနိုင်ငံ၏ တည်ဆဲဥပဒေများမှ တားမြစ်ထားသော မည်သည့်ပစ္စည်းကိုမဆို ZeZaWar
                                            ပလက်ဖောင်း (သို့) ZeZaWarနှင့်သက်ဆိုင်သော အမည်နာမများအသုံးပြု၍ (သို့) အခြား
                                            ZeZaWarနှင့်သက်ဆိုင်သော ဝန်ဆောင်မှုများမှတဆင့် တင်ပြခြင်း၊ ရောင်းဝယ်ခြင်း၊
                                            ပြသခြင်း၊ ကြော်ငြာခြင်း
                                        </p>
                                    </li>
                                </ul>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <p>
                            ZeZaWar၏ဝန်ဆောင်မှုများ ရရှိနိုင်မှုနှင့်ပါတ်သတ်၍ ZeZaWarသည် အချိန်နှင့်တပြေးညီ
                            အကြောင်းပြချက် (သို့) ကြိုတင်အသိပေးခြင်းမရှိဘဲ၊ အဆင့်မြှင့်တင်ခြင်း၊
                            ပြင်ဆင်ခြင်းများပြုလုပ်နိုင်ပြီး ထိုကဲ့သို့သောအဆင့်မြှင့်တင်ခြင်း၊ ပြုပြင်ခြင်း၊
                            ဆိုင်းငံ့ခြင်း (သို့) ဖယ်ရှားခြင်းက သင့်အားပလက်ဖောင်း (သို့)
                            ဝန်ဆောင်မှုများ၏အစိတ်အပိုင်းများကို ဝင်ရောက်ခြင်းကို တားဆီးခွင့်လိုက်ပါက ZeZaWarတွင်
                            တာဝန်မရှိပါ။
                        </p>
                    </li>
                    <li>
                        <span>
                            ZeZaWar အကြောင်းအရာကိုစောင့်ကြည့်ရန်တာ ၀န်ယူရမည့်တာ၀န်ရှိသည်မဟုတ်သော်လည်း၊
                            ကျွန်ုပ်တို့သည်ပိုင်ခွင့်ရှိသည်။ သို့သော်ကျွန်ုပ်တို့တွင်တာဝန်မရှိပါ
                        </span>
                        <ol>
                            <li>
                                <p>
                                    ZeZaWarပလက်ဖောင်းပေါ်ရှိ အကြောင်းအရာများနှင့် မည်သည့်ပစ္စည်းကိုမဆို
                                    ကြီးကြပ်ရန်တာဝန်မရှိသော်လည်း ဝန်ဆောင်မှု အသုံးပြုမှုဆိုင်ရာစည်းမျဉ်းများကို
                                    ချိုးဖောက်ခြင်းအား ZeZaWarတစ်ဦတည်း စုံစမ်းစစ်ဆေးနိုင် ဆုံးဖြတ်ပိုင်ခွင့်ရှိသည်။
                                </p>
                            </li>
                            <li>
                                <p>
                                    မည်သည့် ဝန်ဆောင်မှုအသုံးပြုသူမဆို ZeZaWar ပလက်ဖောင်း (သို့) ZeZaWar၏
                                    ဝန်ဆောင်မှုများအား ဝင်ရောက်ခြင်းအား ZeZaWar မှ တားဆီးကန့်သတ်နိုင်သည်။
                                </p>
                            </li>
                            <li>
                                <p>
                                    သက်ဆိုင်ရာဥပဒေပြဌာန်းချက်များ စည်းမျဥ်းစည်းကမ်းများအား ချိုးဖောက်သည်ဟု သံသယရှိသူ
                                    ဝန်ဆောင်မှုသုံးစွဲသူ မည်သူကိုမဆို ZeZaWar မှ
                                    သက်ဆိုင်ရာအာဏာပိုင်များထံအစီရင်ခံတင်ပြရန်
                                    သင့်၏အားမတိကျသောအချက်အလက်များ၊ လှည့်စားထားသော အချက်အလက်များကိုပေးအပ်သည်ဟု
                                    သင်အားသံသယရှိရန်
                                    သင့်တော်သော အကြောင်းပြချက်များရှိပါက သင်ထုတ်ဖော်ရန်ငြင်းဆန်နေသော
                                    သင့်ထံမှမည်သည့်သတင်းအချက်အလက်ကိုမဆို အချိန်မရွေးတောင်းဆိုမည်။
                                </p>
                            </li>
                            <li>
                                <p>
                                    သင်၏ ၀န်ဆောင်မှုများနှင့် (သို့) ပလက်ဖောင်း၏
                                    ၀င်ရောက်မှုကိုသင်အသုံးပြုခြင်းနှင့်စပ်လျဉ်း၍ သင်သည်
                                    ဤစာအပိုဒ်အောက်၌ကျွန်ုပ်တို့၏အခွင့်အရေးကိုကျင့်သုံးရန် သင်၏သတင်းအချက်အလက်ထုတ်ဖော်ရန်
                                    ငြင်းဆန်ပါက (သို့) သင်ပေးထားသော သင်၏အချက်အလက်များသည် မတိကျသော၊ လှည့်စားသော (သို့)
                                    လိမ်လည်သည်ဟု သံသယဝင်ရန် သင့်တော်သော အကြောင်းပြချက်များရှိပါက သင့်ထံမှမှန်ကန်သော
                                    မည်သည့်အချက်အလက်ကိုမဆို မည်သည့်အချိန်တွင်မဆို တောင်းဆိုမည်။
                                </p>
                            </li>
                        </ol>

                    </li>
                </ol>

            </li>

            <li>
                <span class="body-title">ဝန်ဆောင်များကို အသုံးပြုခြင်း</span>
                <ol>
                    <li>
                        <p>
                            ဤအပိုဒ်ကိုအသုံးပြုခြင်း - ဤဝန်ဆောင်မှုအသုံးပြုခြင်းသတ်မှတ်ချက်များအားလုံးသည်
                            အခြားစည်းကမ်းချက်များနှင့်အခြေအနေများအပြင် ဤအပိုဒ် ၃ပါပြဌာန်းချက်များသည်
                            ၀န်ဆောင်မှုများအသုံးပြုမှုအပေါ် ထိန်းချုပ်သည့်
                            အပိုဆောင်းသီးခြားသတ်မှတ်ချက်များနှင့်အခြေအနေများဖြစ်သည်။
                        </p>
                    </li>
                    <li>
                        <p>
                            ကန့်သတ်ချက်များ - ZeZaWar ၏ ဝန်ဆောင်မှုများ အသုံးပြုခြင်းကို တရားဝင်စာချုပ်ချုပ်ဆိုထားသော
                            ရောင်းသူ နှင့် တရားဝင်အသုံးပြုခွင့်ရှိသော ဝယ်သူများသာ ဝင်ရောက် အသုံးပြုခွင့် ပြုထားသည်။
                            စည်းမျဥ်းစည်းကမ်းများ၊ စာချုပ်များအား ဖေါက်ဖျက်၍ ZeZaWar ၏ ဝန်ဆောင်မှုများ သုံးစွဲခြင်းကို
                            အမြဲတမ်း (သို့) ယာယီရပ်ဆိုင်းငံ့ခံရသော ဝန်ဆောင်မှုသုံးစွဲမှု အသုံးပြုသူများသည် ဤအပိုဒ် (၃.၂)
                            ၏လိုအပ်ချက်များကိုဖြည့်ဆည်းပေးသည့်တိုင် ဝန်ဆောင်မှုများကို အသုံးမပြုပါ။
                        </p>
                    </li>
                    <li>
                        <span>အောက်ပါအချက်များကို သဘောတူပါသည်။</span>
                        <ol>
                            <li>
                                <p>
                                    ဝန်ဆောင်မှုများအားတရားဝင်ဖြစ်သောရည်ရွယ်ချက်များအတွက်သာနှင့် အချိန်တိုင်း
                                    တရားဝင်အသုံးပြုရန်၊ ဝန်ဆောင်မှုများနှင့်သက်ဆိုင်သည့် မည်သည့်လုပ်ဆောင်မှုကိုမဆို
                                    စိတ်ရင်းမှန်ဖြင့်လုပ်ဆောင်ရန် သဘောတူခြင်း
                                </p>

                            </li>
                            <li>
                                <p>
                                    ဝန်ဆောင်မှုများနှင့် ဆက်စပ်၍ ပလက်ဖောင်းပေါ်တွင် သင်တင်လိုက်သော (သို့) ပလက်ဖောင်းကို
                                    သင်အသုံးပြု၍ ပေါ်လာစေသည့်မည်သည့်သတင်းအချက်အလက်ကိုမဆိုတိကျမှန်ကန်ကြောင်းနှင့်
                                    ထိုသတင်းအချက်အလက်များကို တာဝန်ယူရန် သဘောတူခြင်း
                                </p>

                            </li>
                            <li>
                                <p>
                                    ZeZaWar သည် ဤဝန်ဆောင်မှုများအားအသုံးပြုရာတွင် ဝန်ဆောင်မှုအသုံးပြုသူသည်
                                    ငွေပေးငွေယူလိမ်လည်သည်ဟုယူဆသည်ဟုသံသယရှိပါက ZeZaWar၏ကိုယ်ပိုင်ဆုံးဖြတ်ချက်ဖြင့်
                                    အကန့်အသတ်မရှိ ပယ်ဖျက်ပိုင်ခွင့်ရှိသည်။
                                </p>

                            </li>
                        </ol>
                    </li>
                    <li>
                        <p>
                            ကုန်ပစ္စည်းဖော်ပြချက် - ZeZaWar ပလက်ဖောင်းသည် ဝန်ဆောင်မှုအသုံးပြုသူတို့၏
                            အရောင်းကုန်ပစ္စည်းများနှင့် ပတ်သက်၍ တိကျသောဖော်ပြချက်ပေးရန် ကြိုးစားသော်လည်း
                            ၎င်းတို့၏ဖော်ပြချက်သည်တိကျမှန်ကန်မှုရှိ မရှိ၊ အမှားအယွင်းကင်းကြောင်း အာမခံချက်မရှိပါ။
                            ရောင်းသူဖေါ်ပြထားသော ကုန်ပစ္စည်းများ၏ အချက်အလက်အမှားမှ ဖြစ်ပေါ်လာသော ဆုံးရှုံးမှုများသည်
                            ရောင်းသူတွင်သာ တာဝန်အပြည့်အဝရှိသည်။
                            အရောင်းကုန်ပစ္စည်းများနှင့် ပတ်သက်၍ တိကျသောဖော်ပြချက်ပေးရန် ကြိုးစားသော်လည်း
                            ၎င်းတို့၏ဖော်ပြချက်သည်တိကျမှန်ကန်မှုရှိ မရှိ၊ အမှားအယွင်းကင်းကြောင်း အာမခံချက်မရှိပါ။
                            ရောင်းသူဖေါ်ပြထားသော ကုန်ပစ္စည်းများ၏ အချက်အလက်အမှားမှ ဖြစ်ပေါ်လာသော ဆုံးရှုံးမှုများသည်
                            ရောင်းသူတွင်သာ တာဝန်အပြည့်အဝရှိသည်။
                        </p>
                    </li>
                    <li>
                        <span>ထုတ်ကုန်များ၏ စျေးနှုန်းများ </span>
                        <p>
                            ရောင်းဝယ်မှုအားလုံး၏စျေးနှုန်းများသည်အခွန်ကင်းလွတ်ခွင့်မရှိပါ။
                            အကြောင်းပြချက်နှင့်ကြိုတင်အသိပေးခြင်းမရှိဘဲမည်သည့်အချိန်တွင်မဆို
                            ရောင်းဈေးအားပြင်ဆင်ခွင့်ရှိသည်။
                        </p>
                    </li>
                </ol>
            </li>
            <li>
                <span class="body-title">ဝန်ဆောင်မူအသုံးပြုသူများ၏ မှတ်ပုံတင်စာရင်းသွင်း အကောင့်</span>
                <ol>
                    <li>
                        <p>ပလက်ဖောင်းသို့ ဝင်ရောက်ရန် “အသုံးပြုသူနာမည်” နှင့် “လျှို့ဝှက်နံပါတ်” -
                            ပလက်ဖောင်းပေါ်တွင်ရရှိနိုင်သော ၀န်ဆောင်မှုအချို့တို့အတွက် ကျွန်ုပ်တို့ပလက်ဖောင်းပေါ်တွင်
                            သင်၏ကိုယ်ရေးအချက်အလက်များပေးထားသော အကောင့်တစ်ခုစာရင်းဖွင့်ရန် လိုအပ်နိုင်သည်။ အကယ်၍
                            ကျွန်ုပ်တို့နှင့်အကောင့်တစ်ခုဖွင့်ရန်သင်တောင်းဆိုပါက သင့်ဆီမှလိုအပ်သော
                            Username(အသုံးပြုသူနာမည်) နှင့် Password(လျှို့ဝှက်နံပါတ်) ဆိုသည်မှာ -
                        </p>
                        <ol>
                            <li>
                                <p>
                                    ZeZaWar၏ ဝန်ဆောင်မူအချို့အား အသုံးပြုနိုင်ရန် အသုံးပြုသူများမှ အွန်လိုင်းအကောင့်
                                    စာရင်းသွင်းရန် ကိုယ်ရေးအချက်လက်များ လိုအပ်ပါသည်။ အွန်လိုင်းအကောင့် စာရင်းသွင်းရန်
                                    တောင်းဆိုသောအခါ အသုံးပြုသူနာမည် နှင့်လျှို့ဝှက်နံပါတ်ကို ZeZaWarမှ သတ်မှတ်ပေးမည်
                                    (သို့) သင့်ကိုယ်တိုင်သတ်မှတ်ပီးလျှင် ZeZaWarမှ လက်ခံပေးသည်။
                                </p>
                            </li>
                            <li>
                                <p>
                                    သင့်ပေးထားပီး ကျွန်ုပ်တို့မှလက်ခံပေးထားသော ၀န်ဆောင်မှုများအသုံးပြုခြင်း (သို့)
                                    သက်ဆိုင်ရာ ပလက်ဖောင်းအား အသုံးပြုခြင်းတို့နှင့် ဆက်နွယ်မှုတွင် ကျွန်ုပ်တို့၏
                                    တစ်ဦးတည်းသော အကြွင်းမဲ့ဆုံးဖြတ်ပိုင်ခွင့်ရှိသည်။ZeZaWa သည် ဝန်ဆောင်မှုအသုံးပြုသူ၏
                                    အသုံးပြုသူနာမည် နှင့် လျှို့ဝှက်နံပါတ်ကို သင်ထံမှ အကြောင်းပြချက်တစ်ခုခုမရှိပဲ (သို့)
                                    ကြိုတင်အသိပေးခြင်းမရှိပဲ တရားမဝင်မှားယွင်းစွာ ချက်ချင်းပျက်ပြယ်စေရန် (သို့)
                                    ကိုယ်ရေးအချက်အလက်များ ပြောင်းလဲရန် တောင်းဆိုခြင်းများနှင့် ၎င်းတို့နှင့်ဆက်စပ်၍
                                    ဖြစ်ပေါ်လာသော မည်သည့်ဆုံးရှုံးမှုအတွက်မဆို ZeZaWaမှ မည်သည့်အချိန်တွင်မဆို
                                    အကြွင်းမဲ့ဆုံးဖြတ်နိုင်ပီး ZeZaWaမှ တာဝန်ယူမည်မဟုတ်ပါ။ သင်၏ လျှို့ဝှက်နံပါတ်အား
                                    အချိန်နှင့်အမျှပြောင်းလဲရန်နှင့် အသုံးပြုသူနာမည်၊ လျှို့ဝှက်နံပါတ်ကို
                                    လျှို့ဝှက်ထားရန်သင်သဘောတူသည်။ သင်၏အကောင့်လုံခြုံရေး၊ ထုတ်ဖော်မှု (သို့)
                                    အသုံးပြုမှုများ(သင်၏ခွင့်ပြုချက်ရသည်ဖြစ်စေ၊မဖြစ်စေ)အတွက် သင်သည်တာဝန်ရှိသူဖြစ်သည်။
                                    သင့်အနေဖြင့် သင်၏ အသုံးပြုသူနာမည် နှင့် လျှို့ဝှက်နံပါတ်ကိုချိုးဖောက်သည်ဟု
                                    သံသယဝင်ရန် အကြောင်းပြချက်ရှိပါက (သို့) သင်၏ခွင့်ပြုချက်မရှိဘဲအသုံးပြုခြင်းရှိပါက
                                    (သို့) သင်၏ကိုယ်ရေးအချက်အလက်များကို အဆင့်မြှင့်ရန်လိုအပ်ပါက
                                    ကျွန်ုပ်တို့အားချက်ချင်းအကြောင်းကြားရမည်။
                                </p>
                            </li>
                            <li>
                                <p>
                                    ဝန်ဆောင်မူအသုံးပြုသူမှတ်ပုံတင်သော အွန်လိုင်းအကောင့်တွင် ထည့်သွင်းသော လျှိုဝှက်နံပါတ်
                                    (သို့) လျှို့ဝှက်အချက်အလက်များကို အွန်လိုင်းအရောင်းအဝယ်ပြုလုပ်ရာတွင် မိမိ၏
                                    အချက်အလက်များကို ပေါ့ဆစွာ ကိုင်တွယ်အသုံးပြုမူကြောင့် ဖြစ်ပေါ်လာသော ပြဿနာများ၊
                                    ဝန်ဆောင်မူအသုံးပြုသော မိမိ၏ ကွန်ပြူတာ၊ ဖုန်း အစရှိသော အီလက်ထရောနစ်ပစ္စည်းများ၏
                                    စက်ပိုင်းဆိုင်ရာ နည်းပညာပိုင်းဆိုင်ရာလုံခြုံရေးများကို လုံခြုံအောင်စီမံဆောင်ရွက်မူ
                                    မရှိခြင်းများကြောင့် ဖြစ်ပေါ်လာသော ပြဿနာများ၊ ဆုံးရူံးမူများသည် ZeZaWar၌
                                    တာဝန်မရှိကြောင်းနှင့် အသုံးပြုသူသော မိမိ၏တာဝန်သာဖြစ်ကြောင်း သိရှိပါသည်။ ထို့အပြင်
                                    သင်၏ မှတ်ပုံတင်ထားသော အကောင့်နှင့် သက်ဆိုင်သော အသေးစိတ် အချက်အလက်များကို
                                    အချိန်တိုင်းလုံခြုံစွာ ထိန်းသိမ်းထားပီး သင်၏မှတ်ပုံတင်ထားသော အကောင့်အား
                                    အလွဲသုံးစားပြုလုပ်မူများကို ကာကွယ်ရန် လိုအပ်သော လုံခြုံးရေးကို လုပ်ဆောင်ပါမည်။
                                </p>
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
        </ol>
    </div>
</div>