<div class="category-header-wrapper">
    <div class="container">

        <nz-carousel [nzEffect]="'fade'" [nzAutoPlay]="true">
            <div nz-carousel-content
                *ngFor="let banner of selectedCategory?.webImages | webImages:'main-banner-full-wide'">
                <div class="carousel-wrapper" [style.backgroundImage]="'url(' + blobUrl + banner.url + '/original)'">
                </div>
            </div>
        </nz-carousel>

        <div class="category-header" *ngIf="selectedCategory">
            <span nz-typography nzType="warning" class="header-title"
                *ngIf="selectedCategory.name === 'Groceries';else categoryTitle">
                <i class="iconfont {{selectedCategory?.iconFont}}"></i>Grocery Mart
            </span>

            <ng-template #categoryTitle>
                <span nz-typography nzType="warning" class="header-title">
                    <i class="iconfont {{selectedCategory?.iconFont}}"></i>{{selectedCategory?.name}}
                </span>
            </ng-template>
            <span nz-typography nzType="secondary" class="header-second">Buy Fast Delivery</span>
        </div>
    </div>
</div>

<nz-affix [nzOffsetTop]="0">
    <div id="category-nav" class="category-nav">
        <div class="container">
            <ul class="nav nav-pills">
                <li class="nav-item" *ngFor="let item of selectedCategory?.children;let i = index;">
                    <a class="nav-link" href="javascript:void(0);" (click)="selectedIndex = item.id;scroll(item.id)"
                        [class.active]="selectedIndex === item.id">{{item.myanmarName}}</a>
                </li>
            </ul>
        </div>
    </div>
</nz-affix>

<div class="category-body-wrapper">
    <div class="container">
        <div class="category-body">
            <div [id]="subCategory.id" *ngFor="let subCategory of selectedCategory?.children">
                <ng-container *ngIf="(subCategory.webImages | webImages:'sub-banner-wide');else noSubBanner">
                    <div class="category-sub-header"
                        [style.backgroundImage]="'url(' + blobUrl + (subCategory.webImages | webImages:'sub-banner-wide')[0]?.url + '/original)'">
                        <div class="banner-sub-title">
                            <span>{{subCategory.myanmarName}}</span>
                        </div>
                    </div>
                </ng-container>
                <ng-template #noSubBanner>
                    <div class="category-sub-header" [style.backgroundImage]="'url(/assets/backgrounds/no-banner.png)'">
                        <div class="banner-sub-title">
                            <span>{{subCategory.myanmarName}}</span>
                        </div>
                    </div>
                </ng-template>

                <div class="category-sub-body">
                    <div nz-row [nzGutter]="[16,16]">
                        <div nz-col class="gutter-row" [nzXs]="12" [nzSm]="6"
                            *ngFor="let leaf of subCategory?.children">
                            <div class="inner-box" [routerLink]="['/search']" routerLinkActive="active"
                                [queryParams]="{categoryId: leaf.id}">
                                <div class="child-category-wrapper">
                                    <div class="catagory-leaf-wrapper">
                                        <div #cagimage class="category-image" *ngIf="leaf.image;else noImage">
                                            <!-- <div class="category-image"
                                                [style.backgroundImage]="'url(' + blobUrl + leaf.image + '/thumbnail)'">
                                            </div> -->
                                            <img width="200" height="200" [src]="blobUrl + leaf.image + '/thumbnail'"
                                                [attr.alt]="'alt'" class="leaf-image">
                                        </div>

                                        <ng-template #noImage>
                                            <div #noCagImage class="category-image">
                                                <img width="200" height="200" [src]="'/assets/images/no-image2.svg'"
                                                    [attr.alt]="'alt'" class="leaf-image">
                                            </div>
                                        </ng-template>

                                        <div class="category-leaf-tilte">
                                            <span>{{leaf.myanmarName}}</span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>