<vs-panel [title]="title | uppercase">
    <div body class="content-wrapper">
        <div class="brand-list">
            <div class="brand-item" *ngFor="let brand of brands">
                <a routerLink="/pages/shop" routerLinkActive="active">
                    <div #rootcag class="card-preview">
                        <div class="root-card brand-list">
                            <img src="assets/images/home/brands/{{brand.icon}}">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</vs-panel>