@import "src/@root/scss/root";

:host {

    .viwer-area {
        position: relative;
        z-index: 4;
        // padding-bottom: 20px;

        .viwer-title {
            align-content: center;
            align-items: center;
            display: flex;
            justify-content: center;
            padding: 0 8px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            margin-bottom: 5px;
            position: relative;
            z-index: 2;

            .viwer-title-spacer {
                flex: 1 1 auto;

                &.title {
                    text-transform: uppercase;
                    font-weight: 500;
                }
            }
        }

        .content {
            .brand-list {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: flex-start;
                background: white;

                .brand-item {
                    border-right: 1px solid rgba(0, 0, 0, .05);
                    border-bottom: 1px solid rgba(0, 0, 0, .05);
                    // border: none;
                    display: flex;
                    align-items: flex-start;
                    background: transparent;
                    padding: 1px;

                    flex: 0 0 10%;
                    max-width: 10%;

                    @include media-breakpoint("sm") {
                        flex: 0 0 25%;
                        max-width: 25%;
                    }

                    @include media-breakpoint("md") {
                        flex: 0 0 25%;
                        max-width: 25%;
                    }

                    @include media-breakpoint("xs") {
                        flex: 0 0 25%;
                        max-width: 25%;
                    }

                    .card-preview {
                        display: flex;

                        .box-card {
                            max-width: auto !important;
                            min-width: auto !important;
                        }

                        .brand-list {
                            img {
                                transform: scale(1);
                                transition: .5s;
                            }

                            .title {
                                text-align: center;
                                font-size: 0.85em;
                            }
                        }

                        &:hover {
                            .brand-list {
                                img {
                                    transform: scale(1.1);
                                    transition: all 0.5s ease;
                                }
                            }
                        }
                    }

                    .card-source {
                        display: none;
                    }
                }
            }
        }
    }
}