@import "src/@eps/scss/root";

:host {
    .jumbotron {
        .search {
            font-size: 5rem;
            color: rgba(141, 141, 141, 0.3);
        }
    }

    .loading-spinner {
        position: fixed;
        left: 50%;
        top: 50%;
        z-index: 2;
    }

    .example-card {
        box-shadow: none !important;
    }

    .example-header-image {
        background-image: url('/assets/devita/img/bc/bc4.png');
        background-size: cover;
    }

    h4 {
        font-size: 0.9em;
        font-weight: 500 !important;
        text-transform: uppercase;
    }

    .expansion-title {
        text-transform: uppercase;
        font-size: 16px;
        color: lighten(#000000, 26.5%);
        font-weight: 600;
    }

    .page-layout {
        &.simple {
            &.left-sidebar {
                >.sidebar {
                    width: 280px !important;
                    min-width: 280px !important;
                    max-width: 280px !important;

                    >.content {
                        >.shop-sidebar-wrapper {
                            // border: 1px solid #efefef;
                            padding: 28px 18px 29px;

                            h4.shop-sidebar-title {
                                font-size: 18px;
                                font-weight: 500;
                                margin: 0;
                            }

                            >.shop-price-filter {
                                >.price_filter {
                                    padding: 10px;

                                    >.horizontal-wrapper {
                                        >span {
                                            min-width: 40.66px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                >.center {
                    box-shadow: none;

                    >.header {
                        height: auto !important;
                        min-height: auto !important;
                    }

                    >.horizontal-content {
                        background: none !important;
                        padding: 4px;

                        @include media-breakpoint("xs") {
                            padding: 0;
                        }

                        >.search-controller {
                            border-bottom: 1px solid #EFF0F5;
                            margin-bottom: 15px;

                            span {
                                color: #ff5722;
                            }
                        }

                        // >.horizontal-wrapper {
                        //     >.horizontal-spacer {
                        //         >h4 {
                        //             >span {
                        //                 color: #ff5722;
                        //             }
                        //         }
                        //     }
                        // }

                        .product-infinitescroll {
                            margin-top: 20px;
                        }
                    }
                }

            }
        }
    }
}