<div class="container">
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a>Home</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a>Dashboard</a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>

<div class="page-layout blank">
  <div class="container">
    <div class="page-layout simple left-sidebar inner-scroll">

      <root-sidebar class="sidebar" name="simple-left-sidebar-2" position="left" lockedOpen="gt-md">
        <div class="content p-24" rootPerfectScrollbar>
          <sidebar-content [account]="account"></sidebar-content>
        </div>
      </root-sidebar>

      <div class="center" rootPerfectScrollbar>
        <a nz-button nzType="link" class="mr-8" fxHide.gt-md (click)="toggleSidebar('simple-left-sidebar-2')">
          <i nz-icon nzType="menu" nzTheme="outline"></i>
        </a>
        <div class="content inner-content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  <nz-layout>
    <nz-sider [nzTheme]="'light'" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <div class="title"><span><i nz-icon nzType="check-circle" class="mr-1"></i>Hello,
          {{account.login | uppercase }}</span></div>
      <div class="logo"></div>
      <ul nz-menu [nzTheme]="'light'" nzMode="inline">
        <li nz-menu-item [routerLink]="['/pages/dashboard/my-profile']" [routerLinkActive]="['ant-menu-item-selected']">
          <i nz-icon nzType="user"></i>
          <span>My Profile</span>
        </li>
        <li nz-menu-item [routerLink]="['/pages/dashboard/my-payment-options']"
          [routerLinkActive]="['ant-menu-item-selected']">
          <i nz-icon nzType="wallet"></i>
          <span>Payment Options</span>
        </li>
        <li nz-menu-item [routerLink]="['/pages/dashboard/address-book']"
          [routerLinkActive]="['ant-menu-item-selected']">
          <i nz-icon nzType="home"></i>
          <span>Address Book</span>
        </li>
        <li nz-menu-item [routerLink]="['/pages/dashboard/my-wishlist']"
          [routerLinkActive]="['ant-menu-item-selected']">
          <i nz-icon nzType="heart"></i>
          <span>My Wishlist</span>
        </li>
        <li nz-menu-item [routerLink]="['/pages/dashboard/my-compare']" [routerLinkActive]="['ant-menu-item-selected']">
          <i nz-icon nzType="column-width"></i>
          <span>My Compare</span>
        </li>
        <li nz-menu-item [routerLink]="['/pages/dashboard/my-reviews']" [routerLinkActive]="['ant-menu-item-selected']">
          <i nz-icon nzType="comment"></i>
          <span>My Reviews</span>
        </li>
        <li nz-menu-item [routerLink]="['/pages/dashboard/my-orders']" [routerLinkActive]="['ant-menu-item-selected']">
          <i nz-icon nzType="solution"></i>
          <span>My Orders</span>
        </li>
      </ul>

    </nz-sider>
    <nz-layout>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</div> -->