<div class="flash-deal-header-wrapper">
    <div class="container">
        <nz-carousel [nzEffect]="'fade'" [nzAutoPlay]="true">
            <div nz-carousel-content *ngFor="let banner of slides?.children">
                <div class="carousel-wrapper" [style.backgroundImage]="'url(' + blobUrl + banner.url + '/original)'">
                </div>
            </div>
        </nz-carousel>

        <div class="flash-deal-header">
            <img src="assets/icons/home-icons/flash_deal.svg">
            <h1 nz-typography nzType="warning">Flash Deals</h1>
            <span nz-typography nzType="secondary">
                Crazy Deals
                <nz-divider nzType="vertical"></nz-divider>
                Limited Time Only
            </span>
        </div>
    </div>
</div>

<nz-affix [nzOffsetTop]="0">
    <div id="flash-deal-nav" class="flash-deal-nav">
        <div class="container">
            <ul class="nav nav-pills justify-content-center">
                <li class="nav-item" *ngFor="let item of dealTypes;let i = index;">
                    <a class="nav-link" href="javascript:void(0);" (click)="selectedType = item;"
                        [class.active]="selectedType.id === item.id">{{item.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</nz-affix>

<div class="flash-deal-body">
    <div class="container">
        <div class="flash-deal-products">
            <div nz-row [nzGutter]="[8,8]">
                <div nz-col class="gutter-row" [nzXs]="12" [nzSm]="8" [nzMd]="8" [nzLg]="4"
                    *ngFor="let product of flashDealCollectionPage?.products">
                    <product-card [product]="product"></product-card>
                </div>
            </div>
        </div>

        <div class="load-more-wrapper">
            <div class="load-more">
                <button nz-button [nzSize]="'large'" nzType="dashed">Load More</button>
            </div>
        </div>
    </div>
</div>