<!-- <nz-card nzHoverable [nzBordered]="false" [nzHoverable]="false" [nzCover]="coverTemplate">
  <div class="flex-row-container">
    <div class="flex-row-wrapper">
      <div class="d-flex flex-row bd-highlight">
        <div class="p-1 bd-highlight" *ngFor="let stockItem of stockItemList | slice:0:4">
          <a href="javascript:void(0);" (click)="selectedItem = stockItem">
            <div class="small-img" [class.active]="selectedItem.stockItemId === stockItem.stockItemId"
              [style.backgroundImage]="'url(' + blobUrl + stockItem.thumbnail + ')'"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <nz-skeleton [nzActive]="true" [nzLoading]="loading" [nzAvatar]="{ size: 'large' }">
    <nz-card-meta [nzTitle]="titleTemplate" nzDescription="www.instagram.com"></nz-card-meta>
  </nz-skeleton>
</nz-card>
<ng-template #coverTemplate>
  <a [routerLink]="['/products', product.id]" routerLinkActive="active">
    <div class="square" [style.backgroundImage]="'url(' + blobUrl + selectedItem.thumbnail + ')'"
      *ngIf="selectedItem; else noimage"></div>
    <ng-template #noimage>
      <div class="square no-image" *ngIf="!selectedItem"></div>
    </ng-template>
  </a>
</ng-template>
<ng-template #titleTemplate>
  <a [routerLink]="['/products', product.id]" routerLinkActive="active">
    <span nz-typography nzEllipsis nzExpandable>{{ product?.name }}</span>
  </a>
</ng-template> -->
<div class="card">
  <a [routerLink]="['/products', product.id]" routerLinkActive="active">
    <div class="square" [style.backgroundImage]="'url(' + blobUrl + selectedItem.thumbnail + ')'"
      *ngIf="selectedItem; else noimage"></div>
    <ng-template #noimage>
      <div class="square no-image" *ngIf="!selectedItem"></div>
    </ng-template>
  </a>
  <div class="card-body">
    <div class="flex-row-container">
      <div class="flex-row-wrapper">
        <div class="d-flex flex-row bd-highlight mb-1">
          <div class="p-1 bd-highlight" *ngFor="let stockItem of product.productDetails | slice:0:4">
            <a href="javascript:void(0);" (click)="selectedItem = stockItem">
              <div class="small-img" [class.active]="selectedItem.stockItemId === stockItem.stockItemId"
                [style.backgroundImage]="'url(' + blobUrl + stockItem.thumbnail + ')'"></div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <h5 class="card-title block-with-text">
      <a [routerLink]="['/products', product.id]" routerLinkActive="active">
        {{ product?.name }}
      </a>
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">
      {{ product?.productCategoryName }}
    </h6>
    <h6 class="card-subtitle mb-2 text-muted model-name">
      {{ product?.productBrandName }}
    </h6>
    <ngb-progressbar type="warning" value="75" *ngIf="mode == 'deal'">{{ product.sellCount }} sold</ngb-progressbar>
  </div>
  <div class="card-footer">
    <div class="footer-wrapper">
      <span class="product-price mr-auto">
        {{ (selectedItem.unitPrice || 0.00)| currency }}
      </span>
      <span class="product-sold" *ngIf="mode != 'deal' && product.sellCount">
        {{ product.sellCount }} sold
      </span>
    </div>
  </div>
</div>