<div class="home-banner-wrapper">
    <slider-banner [categories]="categoriesTree$ | async" [loading]="categoriesTreeLoading$ | async"
        [contents]="homePage?.contents"></slider-banner>
</div>

<div class="container">

    <section fxShow fxHide.gt-sm>
        <category-mobile [categories]="categoriesTree$ | async"></category-mobile>
    </section>

    <section>
        <sub-banner [contents]="homePage?.contents"></sub-banner>
    </section>

    <section>
        <product-category [bundles]="bundles$ | async"></product-category>
    </section>

    <section>
        <flash-deals eventDate="2020-01-01" [data]="homePage?.flashDeals" [loading]="loading$ | async"
            [error]="error$ | async"></flash-deals>
    </section>

    <section>
        <official-stores [data]="homePage?.officialStores" [loading]="loading$ | async" [error]="error$ | async">
        </official-stores>
    </section>

    <section>
        <brand-zone [data]="homePage?.productBrands"></brand-zone>
    </section>

    <section>
        <most-popular [data]="homePage?.popularProducts" [loading]="loading$ | async" [error]="error$ | async">
        </most-popular>
    </section>

    <section>
        <newly-added [data]="homePage?.newlyAdded" [loading]="loading$ | async" [error]="error$ | async">
        </newly-added>
    </section>

    <section>
        <daily-discover [data]="homePage?.dailyDiscover" [loading]="loading$ | async" [error]="error$ | async">
        </daily-discover>
    </section>

</div>