<div class="home-wrapper mb-4">    
    <slider-banner></slider-banner>
    <product-category [data]="bundles$ | async"></product-category>
    <flash-deals eventDate="2020-01-01" [data]="newlyAdded$ | async" [loading]="newlyAddedLoading$ | async" [error]="error$ | async"></flash-deals>
    <brand-zone></brand-zone>
    <most-popular [data]="mostSelling$ | async" [loading]="mostSellingLoading$ | async" [error]="error$ | async"></most-popular>
    <newly-added [data]="newlyAdded$ | async" [loading]="newlyAddedLoading$ | async" [error]="error$ | async"></newly-added>
    <sub-banner></sub-banner>
    <daily-discover [data]="dailyDiscover$ | async" [loading]="dailyDiscoverLoading$ | async" [error]="error$ | async"></daily-discover>
</div>