<nav #headerNav class="navbar navbar-expand-lg navbar-dark" [ngClass]="isMobile?'fixed-top':'sticky-top bg-dark'">
    <div class="container">
        <a class="navbar-brand d-none d-md-block d-lg-block" routerLink="/home" routerLinkActive="active"><img
                src="assets/logo/zezawar.svg" alt=""></a>
        <search-bar class="search-bar"></search-bar>
        <div class="nav-cart d-none d-md-block d-lg-block">
            <a href routerLink="/checkout/cart" routerLinkActive="active" class="cart-button">
                <fa-icon icon="shopping-cart"></fa-icon>
                <span class="cart-badge" *ngIf="isAuthenticated() && (totalQuantity$ | async) > 0">{{totalQuantity$ | async}}</span>
            </a>
        </div>

    </div>
</nav>