@import 'src/@vertical/scss/root';

:host {
  font-size: 0.8125rem;
  font-weight: 600;

  .logo {
    margin: 0 !important;
  }

  nz-badge {
    i {
      color: rgba(255, 255, 255);
      font-size: 2.5em;
    }
  }

  nav {
    @include media-breakpoint('xs') {
      position: absolute;
      width: 100%;
      z-index: 2;
    }
  }

  .nav-cart {
    display: inline-block;
    // height: 38px;
    // width: 40px;
    position: relative;
    // margin: 0 0 30px 20px;
    margin: 0 0 5px 0px;
    box-sizing: content-box;

    .cart-button {
      color: rgba(255, 255, 255);
      font-size: 2em;

      &:focus,
      &:hover {
        color: rgba(255, 255, 255, 0.8);
      }
    }

    // .cart-badge {
    //   position: absolute;
    //   background: #f36e36;
    //   color: #fff;
    //   top: -4px;
    //   font-weight: 400;
    //   right: -4px;
    //   text-align: center;
    //   border: 3px solid #f36e36;
    //   font-size: 13px;
    //   min-width: 20px;
    //   line-height: 15px;
    //   border-radius: 50%;
    // }

    // .head-example {
    //   width: 42px;
    //   height: 42px;
    //   border-radius: 4px;
    //   background: #eee;
    //   display: inline-block;
    //   vertical-align: middle;
    // }
  }

  .search-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 72%;
    position: relative;

    @include media-breakpoint('xs') {
      width: 85%;
    }
  }
}
