@import "src/@root/scss/root";
:host{
    font-size: .8125rem;
    font-weight: 600;

    .cart-button{
        font-size: 2em;
        margin-bottom: 30px;
    }    
    
    .search-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 750px;
        position: relative;
    }        
}