:host {
    .review-products-list {
        border-bottom: 1px solid #d9d9d9;
        padding: 20px 0px;
    }

    .rating-display {
        display: inline-flex;

        label {
            margin: auto 5px;
        }
    }

    .review-text {
        font-size: 1.1em !important;
    }

    .media {
        .product {
            width: 64px;
            height: 64px;
        }
    }

    .reviews-right-wrapper {
        .rate-face {
            font-size: 1.1em;
            display: inline-flex;

            fa-icon {
                font-size: 2em;
            }

            .table {
                display: table;
                /* Allow the centering to work */
                margin: 0 auto;
            }

            ul#horizontal-list {
                // min-width: 696px;
                list-style: none;
                padding: 0;
                // padding-top: 20px;
            }

            ul#horizontal-list li {
                padding: 0px 5px;
                display: inline;
            }

            label {
                margin: auto 5px;
            }
        }

    }

    .reviews-left-wrapper {
        padding: 20px;
        border-right: 1px solid #eff0f5;
    }

    .review-submit-wrapper {
        float: right;

        .review-as {
            display: inline-flex;
        }

        .review-submit {
            button {
                // width: 100%;
                font-size: 1.5em;
                font-weight: 300;
                padding: 10px 100px;
            }
        }
    }

    //upload image
    [type='file']::-webkit-file-upload-button {
        -webkit-appearance: button;
    }
    
    .review-image {
        width: 97px;
        height: 97px;
        position: relative;
        cursor: cell;
    }
    
    .review-image .image-upload-btn {
        width: 100%;
        height: 100%;
        border: 1px dashed #c4c6cf;
        text-align: left;
    }
    
    .review-image .image-upload-btn .upload-btn-icon.next-icon {
        margin: 10px 0 0 30px;
        font-size: 2.5em;
        color: #c4c6cf;
    }
    
    .next-icon {
        position: relative;
        display: inline-block;
        font-weight: 400;
    }
    
    .review-image .image-upload-btn .upload-text {
        font-size: 12px;
        text-align: center;
        margin: 6px 0;
        color: #c4c6cf;
        padding: 0;
    }
    
    .review-image .image-preview {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 97px;
        height: 97px;
        background-color: #f6f6f6;
        overflow: hidden;
    }
    
    img {
        max-width: 100%;
        max-height: 100%;
    }
    
    .overlay-image {
        width: 256px;
        height: 256px;
    }
    
    .review-image .image-preview .image-link {
        display: table-cell;
        width: 97px;
        height: 97px;
        text-align: center;
        vertical-align: middle;
        cursor: default;
        //overflow: hidden;
    }        
    
    a:visited {
        color: #199cb7;
    }
    
    a:visited {
        color: #d9e4f5;
    }
    
    a:link {
        color: #4077cc;
    }
}