<vs-panel [title]="'Write Reviews'">
  <div body class="content-wrapper">
    <div nz-row [nzGutter]="16">
      <div nz-col class="gutter-row" [nzXs]="24" [nzLg]="16">
        <div class="inner-box" *ngIf="orderPackage">
          <!-- <h6 nz-typography>Delivered on {{ order.orderDate | date:'medium' }}</h6> -->
          <span>Rate and review purchased product:</span>
          <nz-skeleton [nzAvatar]="true" [nzParagraph]="{ rows: 4 }"
            *ngIf="orderLines.length === 0;else showReviewLines"></nz-skeleton>
          <ng-template #showReviewLines>
            <div class="media mt-4" *ngFor="let item of orderLines; let i = index;">

              <img *ngIf="item.stockItemPhoto;else noimage" [src]="blobUrl + item.stockItemPhoto + '/thumbnail'" alt=""
                class="mr-3 product" />
              <ng-template #noimage>
                <img src="assets/images/noimage.svg" alt="no image preview" class="mr-3 product">
              </ng-template>

              <div class="media-body">
                <h6 class="mt-0">{{item.stockItemName}}</h6>
                <p *ngIf="item.supplierName">Sold By : {{item.supplierName}}</p>
                <nz-rate [(ngModel)]="item.lineRating" [nzDisabled]="orderPackage.completedReview"></nz-rate>
                <p class="mt-2">Review Detail</p>
                <textarea rows="3" nz-input [(ngModel)]="item.lineReview"
                  placeholder="What do you think of this product?" [disabled]="orderPackage.completedReview"></textarea>
                <div class="clearfix">
                  <nz-upload class="avatar-uploader mt-2" [nzAction]="blobUrl + 'upload'" nzListType="picture-card"
                    [nzShowUploadList]="false" [nzFileType]="fileTypes" [nzBeforeUpload]="beforeUpload"
                    (nzChange)="handleChange($event,item)" [nzPreview]="handlePreview" [nzLimit]="1"
                    [nzDisabled]="orderPackage.completedReview">
                    <ng-container *ngIf="!item.reviewPhoto">
                      <i class="upload-icon" nz-icon [nzType]="item.loading ? 'loading' : 'plus'"></i>
                      <div class="ant-upload-text">Upload</div>
                    </ng-container>
                    <img *ngIf="item.reviewPhoto" [src]="blobUrl + item.reviewPhoto + '/thumbnail'"
                      style="width: 100%" />
                  </nz-upload>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzXs]="24" [nzLg]="8">
        <div class="inner-box">
          <nz-skeleton [nzAvatar]="true" [nzParagraph]="{ rows: 4 }" *ngIf="!orderPackage;else showReviews">
          </nz-skeleton>
          <ng-template #showReviews>
            <div></div>
            <nz-list nzItemLayout="vertical" [nzSplit]="false" nzHeader="Sold By {{orderPackage.supplierName}}">
              <nz-list-item>
                <nz-list-item-meta>
                  <nz-list-item-meta-title>
                    Rate and review your seller:
                  </nz-list-item-meta-title>
                  <nz-list-item-meta-description>
                    <nz-rate [(ngModel)]="orderPackage.sellerRating" [nzDisabled]="orderPackage.completedReview">
                    </nz-rate>
                    <p class="mt-2">Review Detail</p>
                    <textarea rows="3" nz-input [(ngModel)]="orderPackage.sellerReview"
                      placeholder="How is your overall experience with the seller?"
                      [disabled]="orderPackage.completedReview"></textarea>
                  </nz-list-item-meta-description>
                </nz-list-item-meta>
              </nz-list-item>

              <nz-list-item>
                <nz-list-item-meta>
                  <nz-list-item-meta-title>
                    Rate and review delivery service:
                  </nz-list-item-meta-title>
                  <nz-list-item-meta-description>
                    <nz-rate [(ngModel)]="orderPackage.deliveryRating" [nzDisabled]="orderPackage.completedReview">
                    </nz-rate>
                    <p class="mt-2">Review Detail</p>
                    <textarea rows="3" nz-input [(ngModel)]="orderPackage.deliveryReview"
                      placeholder="How is your overall delivery experience?"
                      [disabled]="orderPackage.completedReview"></textarea>
                  </nz-list-item-meta-description>
                </nz-list-item-meta>
              </nz-list-item>
              <nz-list-item>
                <span>Review as {{orderPackage.reviewAsAnonymous ? 'annoymous': account.login}}</span>
                <nz-switch [(ngModel)]="orderPackage.reviewAsAnonymous" [nzDisabled]="orderPackage.completedReview">
                </nz-switch>
              </nz-list-item>
              <nz-list-item>
                <button nz-button nzType="primary" [nzSize]="'large'" nzDanger nzBlock (click)="submitForm()"
                  [disabled]="orderPackage.completedReview">Submit</button>
              </nz-list-item>
            </nz-list>
          </ng-template>

        </div>
      </div>
    </div>
  </div>
</vs-panel>
<nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
  (nzOnCancel)="previewVisible = false">
  <ng-template #modalContent>
    <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
  </ng-template>
</nz-modal>