order-details {
  .loading-wrapper {
    width: 70px;
    height: 70px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2000;
    background-color: transparent;
  }

  nz-space {
    width: 100%;
  }

  .est-arrival {
    font-size: 0.85em;
    font-weight: 600;
  }

  .list-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    background: #ffffff;

    > div > a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .list-body {
    display: block;
    border-top: 1px solid #eff0f5;
    background: #ffffff;
    padding: 0.5em;
  }

  .supplier {
    font-size: 0.85em;
    font-weight: 500;
  }

  .content-wrapper {
    padding: 0px 25px;
    background-color: #ffffff;

    .line-title {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      > span {
        display: flex;
        align-items: center;
      }
    }
  }

  .shipping-methods {
    padding-top: 1em;
  }

  .place-order {
    margin: 20px 0px;
  }

  .edit-icon {
    margin-right: 0.5em;
  }

  .cart-price {
    font-size: 16px;

    .price-label {
      font-weight: 300;
      color: #43484d;
    }

    .item-price {
      font-weight: 400;
      color: #ff5722;
    }
  }

  .price {
    text-align: center;
    font-size: 16px;
    color: #43484d;
    font-weight: 500;
  }

  .total-price {
    font-size: 18px;
    font-weight: 500;
    color: #ff5722;
  }
}
