<div id="product-card">
  <div class="product-card-wrapper">
    <div class="product-left-badge-wrapper" *ngIf="product.preferredInd">
      <div class="product-left-badge horizontal-badge">
        <fa-icon icon="check" class="icon"></fa-icon>
        preferred
      </div>
    </div>
    <div class="product-badge-wrapper" *ngIf="getPercentage(product.productDetails?.stockItemLists[0]) < 0">
      <div class="product-badge product-badge-fixed-width product-badge-promotion">
        <div class="product-badge-promotion-label-wrapper">
          <span class="percent">{{getPercentage(product.productDetails?.stockItemLists[0])}}%</span>
          <span class="product-badge-promotion-label-wrapper-off">off</span>
        </div>
      </div>
    </div>
    <img src="assets/images/general/lowest.png" class="product-lowest-guaranteed" *ngIf="lowestPrice" />
    <a [routerLink]="['/products', product.id]" routerLinkActive="active">
      <div class="square" [style.backgroundImage]="'url(' + blobUrl + selectedItem.thumbnailPhoto + '/thumbnail)'"
        *ngIf="selectedItem; else noimage"></div>
      <ng-template #noimage>
        <div class="square no-image"></div>
      </ng-template>
    </a>
    <div class="flex-row-container">
      <div class="flex-row-wrapper">
        <div class="d-flex flex-row bd-highlight">
          <div class="p-1 bd-highlight" *ngFor="let stockItem of product.productDetails.stockItemLists | slice:0:4">
            <a href="javascript:void(0);" (click)="selectedItem = stockItem" (mouseover)="selectedItem = stockItem">
              <div class="small-img" [class.active]="selectedItem.id === stockItem.id"
                [style.backgroundImage]="'url(' + blobUrl + stockItem.thumbnailPhoto + '/thumbnail)'"></div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="product-name-wrapper">
      <a [routerLink]="['/products', product.id]" routerLinkActive="active">
        <div class="card-title card-item-title">
          {{ selectedItem.name }}
        </div>
      </a>
    </div>
    <div class="rating-love">
      <div>
        <nz-rate [(ngModel)]="product.productDetails?.ratings.overallRating" nzDisabled></nz-rate>
        <span class="ant-rate-text">({{ product.productDetails?.ratings.totalRating }})</span>
      </div>
    </div>
    <div class="price-wrapper">
      <span class="product-current-price">{{ (selectedItem.recommendedRetailPrice || 0.00) | currency }}</span>

      <a href="javascript:void(0)" class="wishlist">
        <i nz-icon nzType="heart" nzTheme="outline" style="color: #fadb14"></i>
      </a>
    </div>
    <div class="price-wrapper">
      <div>
        <span class="product-price-old">{{
          (selectedItem.unitPrice || 0.00) | currency
    }}</span>
        <span class="discount-percentage">{{getPercentage(selectedItem)}}%</span>
      </div>
      <div>
        <fa-icon icon="truck" class="text-muted"></fa-icon>
      </div>
    </div>
  </div>
</div>