<form nz-form [formGroup]="editForm" (ngSubmit)="save()">
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="contactPerson">Contact Person
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="contactPerson" id="contactPerson" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="contactNumber">Contact Number
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="contactNumber" id="contactNumber" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="contactEmailAddress">
      Contact Email
      Address
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
      <input nz-input formControlName="contactEmailAddress" id="contactEmailAddress" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="region">Region
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
      <nz-select name="region" nzShowSearch nzAllowClear formControlName="regionId"
        (ngModelChange)="selectRegion(regionId)">
        <nz-option [nzValue]="regionsOption.id" [nzLabel]="regionsOption.name"
          *ngFor="let regionsOption of regions; trackBy: trackById">
          {{ regionsOption.name }}
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="city">Cities
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
      <nz-select name="city" formControlName="cityId" (ngModelChange)="selectCity(cityId)" [nzDisabled]="!regionId">
        <nz-option [nzValue]="citiesOption.id" [nzLabel]="citiesOption.name"
          *ngFor="let citiesOption of cities; trackBy: trackById">
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="township">Townships
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
      <nz-select name="township" formControlName="townshipId" [nzDisabled]="!cityId">
        <nz-option [nzValue]="townshipsOption.id" [nzLabel]="townshipsOption.name"
          *ngFor="let townshipsOption of townships; trackBy: trackById">
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="postalCode">Postal Code
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="postalCode" id="postalCode" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="addressLine1">Address
      Line 1
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
      <input nz-input formControlName="addressLine1" id="addressLine1" placeholder="Example: Build(1), Room(1)" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="addressLine2">Address Line 2
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="addressLine2" id="addressLine2" placeholder="Example: Street Name" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24">Address Types</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
      <nz-radio-group formControlName="addressTypeId">
        <label nz-radio-button [nzValue]="addressType.id"
          *ngFor="let addressType of addressTypes; trackBy: trackById">{{addressType.name}}</label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>

  <nz-row>
    <nz-col nzOffset="8" [nzSm]="14" [nzXs]="24">
      <nz-space>
        <nz-space-item>
          <button nz-button nzType="primary" type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving">
            <span>Save</span>
          </button>
        </nz-space-item>

        <nz-space-item>
          <button nz-button nzType="default" type="button" id="cancel-save" (click)="previousState()">
            <span>Cancel</span>
          </button>
        </nz-space-item>
      </nz-space>
    </nz-col>
  </nz-row>
</form>