<div class="page-layout blank">
    <div class="container">
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                <a>Home</a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                <a>Order</a>
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
    <div class="order-details-wrapper mb-4">
        <order-details [shoppingCart]="(cart$ | async)" [cartPrice]="(cartPrice$ | async)"
            [customer]="customer$ | async" [people]="people" [addresses]="addresses$ | async"
            [totalQuantity]="(totalQuantity$ | async)" (post)="postOrder($event)"
            (changeDeliveryMethod)="onChangeDeliveryMethod($event)" (updateAddress)="onUpdateAddress($event)"
            (removeItem)="onRemoveItem($event)">
        </order-details>
    </div>
</div>