<nz-list nzBordered *ngIf="orders">
  <nz-list-item>
    <ng-container>
      <nz-list-item-meta>
        <nz-list-item-meta-title>
          <span>Order #{{orders.customerPurchaseOrderNumber}}</span>
          <div class="left-place-on">Placed on {{orders.orderDate | date :'medium' }}</div>
        </nz-list-item-meta-title>

        <!-- <nz-list-item-meta-description>
        {{ item.description }}
      </nz-list-item-meta-description> -->

      </nz-list-item-meta>
      <nz-list-item-extra>
        <span>Total: </span>
        <span>{{orders.totalDue | currency}}</span>
      </nz-list-item-extra>
    </ng-container>
  </nz-list-item>
</nz-list>

<section>
  <p-steps [model]="orderTracking" [(activeIndex)]="activeOrderTrack" [readonly]="true"></p-steps>

  <div class="list-title" *ngIf="orders.status === 'NEW_ORDER'">
    <div></div>
    <div>
      <button nz-button nzType="default" nzDanger [routerLink]="['/checkout/payment', orders.id, 'secure']">PAY
        NOW</button>
    </div>
  </div>

  <div class="order-tracking-wrapper">
    <nz-card>
      <vs-panel [more]="(orderTracking$ | async).length > 10" [moreType]="'center'">
        <div body>
          <nz-row *ngFor="let orderTracking of (orderTracking$ | async)">
            <div nz-col [nzSpan]="4">
              <span class="event-date">{{orderTracking.eventDate | date:'medium'}}</span>
            </div>
            <div nz-col [nzSpan]="20">
              <span class="event-details">{{orderTracking.eventDetails}}</span>
            </div>
          </nz-row>
        </div>
      </vs-panel>
    </nz-card>
  </div>
</section>

<section *ngFor="let orderPackage of orders.orderDetails;let i = index;">
  <vs-panel title="Package #{{(i+1).toString()}} ({{orderPackage.orderLinesList[0].supplierName | uppercase}})">
    <div body>
      <nz-table class="no-hover-row" #stockItemTable [nzData]="orderPackage.orderLinesList" [nzHideOnSinglePage]="true">
        <tbody>
          <tr *ngFor="let data of stockItemTable.data">
            <td><img width="50" [src]="blobUrl + data.stockItemPhoto + '/thumbnail'"></td>
            <td>{{data.description}} x {{data.quantity}}</td>
            <td>
              <span>{{data.unitPrice | currency}}</span>
            </td>
            <td>
              <a href="javascript:void(0)" nz-button nzType="link" [routerLink]="['/pages/dashboard/my-reviews']"
                *ngIf="orders.status === 'COMPLETED'">Write
                Review</a>
              <nz-tag nzColor="processing" *ngIf="orders.status === 'PENDING' && data.status !== 'CANCELLED'">Processing
              </nz-tag>
              <a href="javascript:void(0)" nz-button nzType="link"
                *ngIf="(orders.status === 'NEW_ORDER' || orders.status === 'PENDING') && data.status !== 'CANCELLED'">CANCEL</a>
              <nz-tag [nzColor]="'#f50'" *ngIf="data.status === 'CANCELLED'">CANCELLED</nz-tag>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </vs-panel>
</section>

<section>
  <div nz-row [nzGutter]="16">
    <div nz-col class="gutter-row" [nzXs]="24" [nzLg]="12">
      <div class="inner-box">
        <nz-card nzTitle="Shipping Address" [nzSize]="'small'" *ngIf="shipToAddress">
          <p>{{shipToAddress.contactPerson}}</p>
          <p>{{shipToAddress.addressLine1}}, {{shipToAddress.addressLine2}}</p>
          <p>{{shipToAddress.postalCode}}, {{shipToAddress.city}}</p>
        </nz-card>
      </div>
    </div>
    <div nz-col class="gutter-row" [nzXs]="24" [nzLg]="12">
      <div class="inner-box">
        <nz-card nzTitle="Billing Address" [nzSize]="'small'" *ngIf="billToAddress">
          <p>{{billToAddress.contactPerson}}</p>
          <p>{{billToAddress.addressLine1}}, {{billToAddress.addressLine2}}</p>
          <p>{{billToAddress.postalCode}}, {{billToAddress.city}}</p>
        </nz-card>
      </div>
    </div>
  </div>
</section>

<section>
  <vs-panel [title]="'Total Summary'">
    <div body class="content-wrapper">
      <nz-list nzBordered>
        <nz-list-item>
          <ng-container>
            <nz-list-item-meta>
              <nz-list-item-meta-title>
                <span>Sub Total</span>
              </nz-list-item-meta-title>

              <nz-list-item-meta-description>
              </nz-list-item-meta-description>
            </nz-list-item-meta>
            <nz-list-item-extra>
              <span></span>
              <span>{{orders.totalDue | currency}}</span>
            </nz-list-item-extra>
          </ng-container>
        </nz-list-item>
        <nz-list-item>
          <ng-container>
            <nz-list-item-meta>
              <nz-list-item-meta-title>
                <span>Shipping Fee</span>
              </nz-list-item-meta-title>

              <nz-list-item-meta-description>
              </nz-list-item-meta-description>
            </nz-list-item-meta>
            <nz-list-item-extra>
              <span></span>
              <span>{{orders.totalShippingFee | currency}}</span>
            </nz-list-item-extra>
          </ng-container>
        </nz-list-item>
      </nz-list>
    </div>
  </vs-panel>
</section>

<!-- <div class="row">
  <div class="col-md-12">
    <p-card class="order-details">
      <div class="top-bar-wrapper">
        <div class="left-bar">
          <div>Order #{{orders.orderNumber}}</div>
          <div class="left-place-on">Placed on {{orders.orderDate | date :'medium' }}</div>
        </div>
        <div class="right-bar">
          <div><span>Total: </span> <span>${{orders.totalDue.toFixed(2) | number:'1.2'}}</span></div>
        </div>
      </div>
    </p-card>
  </div>
  <div class="col-md-12">
    <p-card class="order-details">
      <div class="details-wrapper">
        <div class="left-details">
          <div>Package</div>
          <div class="sold-by">Sold By: XXX</div>
        </div>
      </div>
      <div class="details-body">
        <div class="row item" *ngFor="let orderLine of orders.orderLineLists">
          <div class="col-md-3 image">
            <img *ngIf="orderLine.product.photo;else noimage" src="{{orderLine.product.photo}}" alt=""
              (click)="goToItem(orderLine.cartProduct.id)" />
            <ng-template #noimage>
              <img src="assets/images/noimage.png" alt="no image preview">
            </ng-template>
          </div>

          <div class="col-md-3 description">
            <span style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; cursor: pointer"
              (click)="goToItem(orderLine.product.id)">
              {{orderLine.product.productName}}
            </span>
            <span>{{orderLine.product.productSubCategory.productSubCategoryName}}</span>
          </div>

          <div class="col-md-3 item-price">
            <span> ${{orderLine.product.unitPrice.toFixed(2) | number:'1.2'}}</span>
          </div>

          <div class="col-md-3 quantity">
            <span>Qty : {{orderLine.quantity}}</span>
          </div>

        </div>
      </div>
    </p-card>
  </div>
  <div class="col-md-6">
    <p-card class="order-details" header="Shipping Address">
      <table>
        <tr>
          <td><span class="label">Name</span></td>
          <td class="default">
            <span class="title">{{orders.shipToAddress.contactPerson}}</span>
            <button *ngIf="orders.shipToAddress.addressType" pButton type="button"
              label="{{orders.shipToAddress.addressType?.addressTypeName}}"
              class="ui-button-warning default-button"></button>
            <button class="default-button" *ngIf="orders.shipToAddress.defaultInd" pButton type="button" label="Default"
              class="ui-button-success default-button"></button>
          </td>
        </tr>
        <tr>
          <td><span class="label">AddressLine1</span></td>
          <td>{{orders.shipToAddress.addressLine1}}</td>
        </tr>
        <tr>
          <td><span class="label">AddressLine2</span></td>
          <td>{{orders.shipToAddress.addressLine2}}</td>
        </tr>
        <tr>
          <td><span class="label">City</span></td>
          <td>{{orders.shipToAddress.city}}</td>
        </tr>
        <tr>
          <td><span class="label">PostalCode</span></td>
          <td>{{orders.shipToAddress.postalCode}}</td>
        </tr>
      </table>
    </p-card>
    <p-card class="order-details" header="Billing Address">
      <table>
        <tr>
          <td><span class="label">Name</span></td>
          <td class="default">
            <span class="title">{{orders.billToAddress.contactPerson}}</span>
            <button *ngIf="orders.billToAddress.addressType" pButton type="button"
              label="{{orders.billToAddress.addressType?.addressTypeName}}"
              class="ui-button-warning default-button"></button>
            <button class="default-button" *ngIf="orders.billToAddress.defaultInd" pButton type="button" label="Default"
              class="ui-button-success default-button"></button>
          </td>
        </tr>
        <tr>
          <td><span class="label">AddressLine1</span></td>
          <td>{{orders.billToAddress.addressLine1}}</td>
        </tr>
        <tr>
          <td><span class="label">AddressLine2</span></td>
          <td>{{orders.billToAddress.addressLine2}}</td>
        </tr>
        <tr>
          <td><span class="label">City</span></td>
          <td>{{orders.billToAddress.city}}</td>
        </tr>
        <tr>
          <td><span class="label">PostalCode</span></td>
          <td>{{orders.billToAddress.postalCode}}</td>
        </tr>
      </table>
    </p-card>
  </div>
  <div class="col-md-6">
    <p-card class="order-details total-summary" header="Total Summary">
      <table>
        <tr>
          <td><span>Subtotal</span></td>
          <td><span class="pad-right">${{orders.totalDue.toFixed(2) | number:'1.2'}}</span></td>
        </tr>
        <tr>
          <td><span>Shipping Fee</span></td>
          <td><span class="pad-right">${{orders.frieight.toFixed(2) | number:'1.2'}}</span></td>
        </tr>
      </table>
      <p-footer>
        <table class="footer">
          <tr>
            <td><span>Total</span></td>
            <td><span class="pad-right">${{orders.totalDue.toFixed(2) | number:'1.2'}}</span></td>
          </tr>
          <tr>
            <td><span>Paid By</span></td>
            <td><span class="pad-right"></span></td>
          </tr>
        </table>
      </p-footer>
    </p-card>
  </div>
</div> -->