<div class="category-list">
    <owl-carousel-o #owlSlider [options]="options" [@fadeIn]="categories?.length">
        <ng-container *ngFor="let category of categories">
            <ng-template carouselSlide>
                <div class="slider ml-1 rounded" [class.active]="selectedItem?.id === category.id"
                    (click)="selectedItem = category" [routerLink]="['/pages/categories/',category.id]">
                    <!-- <img [src]="blobUrl + category.iconPhoto + '/thumbnail'" [attr.alt]="'alt'"
                        class="img-thumbnail sub-image"> -->
                    <div class="category-icon">
                        <i class="iconfont {{category.iconFont}}"></i>
                    </div>

                    <span class="category-title">{{category.myanmarName}}</span>
                </div>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
    <button type="button" class="btn btn-secondary nav-button nav-left " (click)="owlSlider.prev()">
        <fa-icon icon="chevron-left"></fa-icon>
    </button>
    <button type="button" class="btn btn-secondary nav-button nav-right" (click)="owlSlider.next()">
        <fa-icon icon="chevron-right"></fa-icon>
    </button>
</div>