category-mobile {
  .category-list {
    position: relative;

    .slider {
      cursor: pointer;
      background-color: #ffffff;
      padding-bottom: 5px;
      text-align: center;
      min-height: 111px;

      //   .img-thumbnail {
      //     border: none !important;
      //   }

      &:hover,
      &.active {
        background-color: #f57123;
        color: #ffffff;

        svg {
          fill: white;
        }
      }

      //   .sub-image {
      //     width: 60px !important;
      //     margin: auto;
      //     background-color: transparent !important;
      //   }

      .category-icon {
        > i {
          font-size: 2.5em;
        }
      }
    }

    .nav-button {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      transform: translateY(-50%);
    }

    .nav-left {
      position: absolute;
      width: 1.25rem;
      height: 2.5rem;
      left: 2px;
      z-index: 2;
      top: 50%;
      background-color: rgba(0, 0, 0, 0.2);
      border: none;
    }

    .nav-right {
      position: absolute;
      width: 1.25rem;
      height: 2.5rem;
      right: 2px;
      z-index: 2;
      top: 50%;
      background-color: rgba(0, 0, 0, 0.2);
      border: none;
    }
  }
}
