<form [formGroup]="paymentForm" (ngSubmit)="onSubmit($event)">
    <div class="ui-fluid">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-12">
                <div class="payment-options">
                    <ul>
                        <li><a href><img src="assets/icons/visa.png"></a></li>
                        <li><a href><img src="assets/icons/master.png"></a></li>
                        <li><a href><img src="assets/icons/amex.png"></a></li>
                    </ul>
                </div>
            </div>
            <div class="ui-g-12 ui-md-12">
                <h3 class="card-number">* Card number</h3>
                <p-inputMask autoClear="true" mask="9999-9999-9999-9999" slotChar=" " id="card-number"
                    placeholder="Card number" formControlName="cardNumber"></p-inputMask>
            </div>
            <div class="ui-g-12 ui-md-12">
                <h3 class="name-on-card">* Name on card</h3>
                <input id="name-on-card" type="text" size="30" pInputText placeholder="Name on card"
                    formControlName="nameOnCard">
            </div>
            <div class="ui-g-12 ui-md-6">
                <h3 class="expiry-date">* Expiry Date</h3>
                <p-inputMask mask="99/99" placeholder="MM/YY" slotChar="MM/YY" formControlName="cardExpiry">
                </p-inputMask>
            </div>
            <div class="ui-g-12 ui-md-6">
                <h3 class="expiry-date">* CVV</h3>
                <p-inputMask mask="999" placeholder="CVV" slotChar="CVV" formControlName="cardCVV"></p-inputMask>
            </div>
            <div class="ui-g-12 ui-md-12">
                <p-checkbox name="groupname" label="Save Card"></p-checkbox>
                <p><span class="save-card-message">Information is encrypted and securely stored.</span></p>
            </div>
            <div class="ui-g-12 ui-md-6">
                <button pButton type="button submit" label="Pay Now" class="ui-button-warning"
                    style="width:100%"></button>
            </div>
        </div>
    </div>
</form>