<!-- <div class="collection-collapse-block">
  <h3 class="collapse-block-title" [ngClass]="expand?'expanded':'collapsed'" (click)="expand = !expand">Rating
  </h3>
  <div class="collection-collapse-block-content" *ngIf="expand" [@expandCollapse]>
    <div class="star-container mx-3 mt-4">
      
    </div>
  </div>
</div> -->

<vs-panel [title]="title | uppercase">
  <div body class="content-wrapper">
    <div class="price-wrapper mx-3 mt-4">
      <nz-radio-group [(ngModel)]="selectedValue" (ngModelChange)="ratingChanged($event)">
        <ul class="p-0">
          <li *ngFor="let val of data">
            <label nz-radio [nzValue]="val.star"></label>
            <nz-rate [(ngModel)]=" val.star" nzDisabled>
            </nz-rate>
            <span class="ant-rate-text" *ngIf="val.star < 5">Up</span>
          </li>
        </ul>
      </nz-radio-group>
    </div>
  </div>
</vs-panel>