<div class="rating-wrapper">
    <div class="ui-g" style="width:250px;margin-bottom:10px">
      <div class="ui-g-12 p-0">
        <a href="javascript:void(0);">
          <p-rating [ngModel]="5" readonly="true" stars="5" [cancel]="false"></p-rating>
        </a>
      </div>
      <div class="ui-g-12 p-0">
        <a href="javascript:void(0);">
          <p-rating [ngModel]="4" readonly="true" stars="5" [cancel]="false"></p-rating><span> & up</span>
        </a>
      </div>
      <div class="ui-g-12 p-0">
        <a href="javascript:void(0);">
          <p-rating [ngModel]="3" readonly="true" stars="5" [cancel]="false"></p-rating><span> & up</span>
        </a>
      </div>
      <div class="ui-g-12 p-0">
        <a href="javascript:void(0);">
          <p-rating [ngModel]="2" readonly="true" stars="5" [cancel]="false"></p-rating><span> & up</span>
        </a>
      </div>
      <div class="ui-g-12 p-0">
        <a href="javascript:void(0);">
          <p-rating [ngModel]="1" readonly="true" stars="5" [cancel]="false"></p-rating><span> & up</span>
        </a>
      </div>
    </div>
  </div>