:host {

    .payment-form {
        background: #FFFFFF;
        box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.10);
        border-radius: 6px;
        padding-top: 10px !important;
    }

    .payment-form-container {
        width: 80%;
    }

    .title {
        height: 60px;
        border-bottom: 1px solid #E1E8EE;
        padding: 20px 30px;
        color: #5E6977;
        font-size: 18px;
        font-weight: 400;
    }

    @media only screen and (max-width: 767px) {

        .container-fluid {
            width: 95% !important;
        }

        .payment-form-container {
            width: 100%;
        }

    }

    .paypal-checkout-wrapper{

        a{
            img{
                max-width: 150px;
                height: auto;
            }
        }
    }

    .item {
        padding: 20px 30px;
        // height: 120px;
        // border-bottom: 1px solid #E1E8EE;
        margin-right: 0;
        margin-left: 0;
    }

    .price {
        text-align: center;
        font-size: 16px;
        color: #43484D;
        font-weight: 300;        
    }

    .total-price{
        font-size: 18px;
        font-weight: 500;
        color: #ff5722;
    }

    .pricing span {
        font-size: 18px;
        color: #43484D;
        font-weight: 500;
    }

}