<div class="card" id="dashboard-address">
  <div class="card-body">
    <div class="ui-grid-row">
      <div class="ui-grid-col-8">
        <table>
          <tr>
            <td><span class="label">Name</span></td>
            <td class="default">
              <span class="title">{{addresses.contactPerson}}</span>
              <button type="button" *ngIf="addresses.addressType"
                class="btn btn-outline-warning default-button">{{addresses.addressType?.addressTypeName}}</button>
              <nz-tag [nzColor]="'#2db7f5'" *ngIf="addresses.defaultInd">default</nz-tag>
            </td>
          </tr>
          <tr>
            <td><span class="label">AddressLine1</span></td>
            <td>{{addresses.addressLine1}}</td>
          </tr>
          <tr>
            <td><span class="label">AddressLine2</span></td>
            <td>{{addresses.addressLine2}}</td>
          </tr>
          <tr>
            <td><span class="label">City</span></td>
            <td>{{addresses.city}}</td>
          </tr>
          <tr>
            <td><span class="label">PostalCode</span></td>
            <td>{{addresses.postalCode}}</td>
          </tr>
        </table>
      </div>
      <div class="ui-grid-col-4">
        <table style="float:right;" id="address-control">
          <tr>
            <td>
              <button type="button" id="edit-button" class="btn btn-secondary btn-sm"
                [routerLink]="['/pages/dashboard/address-book', addresses.id, 'edit']">
                <fa-icon [icon]="'edit'"></fa-icon>&nbsp;<span>Edit</span>
              </button>
              <button type="button" id="delete-button" class="btn btn-secondary btn-sm ml-2"
                [disabled]="addresses.defaultInd" nz-popconfirm nzPopconfirmTitle="Are you sure delete?"
                nzPopconfirmPlacement="bottom" (nzOnConfirm)="confirm(addresses)" (nzOnCancel)="cancel()">
                <fa-icon [icon]="'trash-alt'"></fa-icon>&nbsp;<span>Delete</span>
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <button type="button" id="setdefault-button" class="btn btn-primary btn-sm set-default"
                (click)="setDefault.emit(addresses)" [disabled]="addresses.defaultInd">
                <fa-icon [icon]="'map-marked-alt'"></fa-icon>&nbsp;<span>Set As Default</span>
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>