@import 'src/@vertical/scss/root';

:host {
  .voucher-card {
    background-image: url('/assets/backgrounds/voucher-02.svg');
    height: 177px;
    background-size: cover;
    background-repeat: no-repeat;

    @include media-breakpoint('lt-sm') {
      height: 115px;
    }

    .cashback-left-wrapper {
      //   height: 177px;
      padding: 15px 5px 4px 30px;
      display: flex;
      align-items: center;

      @include media-breakpoint('lt-sm') {
        padding: 5px 3px 5px 19px;
        height: 115px;
      }

      .store-avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        nz-avatar {
          margin: auto;
          width: 70px;
          height: 70px;
          line-height: 70px;

          @include media-breakpoint('lt-sm') {
            width: 35px;
            height: 35px;
            line-height: 35px;
          }
        }
      }

      .side-wide {
        font-size: 20px;
        font-weight: 500;
        color: #ffffff;
        text-align: center;

        @include media-breakpoint('lt-sm') {
          font-size: 15px;
        }
      }

      .cashback-promo {
        color: #ff4438;
        text-align: center;
        font-weight: bold;

        .cashback-percentage {
          font-size: 40px;

          @include media-breakpoint('lt-sm') {
            font-size: 30px;
          }
        }

        .cashback-promo-title {
          font-size: 20px;

          @include media-breakpoint('lt-sm') {
            font-size: 15px;
          }
        }
      }
    }

    .cashback-right-wrapper {
      padding: 15px 30px 4px 4px;

      @include media-breakpoint('lt-sm') {
        padding: 12px 20px 4px 8px;
        height: 115px;
      }

      .cashback-coupon-code {
        color: #ff4438;
        text-align: center;
        font-weight: bold;
        font-size: 40px;

        @include media-breakpoint('lt-sm') {
          font-size: 30px;
        }
      }

      .cashback-coupon-description {
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        margin-top: 7px;

        @include media-breakpoint('lt-sm') {
          margin: 0px;
          font-size: 15px;
        }
      }
    }

    .voucher-promo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 40px 0px 40px;

      .voucher-promo-value {
        font-size: 30px;
        font-weight: bold;
        color: #ff4438;
      }

      .voucher-min-spend {
        font-size: 25px;
        // color: #ff4438;
        margin-left: 0.5em;
      }

      .voucher-redeem {
        button {
          font-size: 18px;
          letter-spacing: 3px;
        }
      }
    }

    .coupon-description {
      margin-top: 14px;

      @include media-breakpoint('lt-sm') {
        margin: 0px;
      }

      .coupon-valid-date-wrapper {
        text-align: right;

        .coupon-valid-date {
          padding: 0px 8px 0px 0px;
          font-size: 20px;
          font-weight: bold;

          @include media-breakpoint('lt-sm') {
            font-size: 12px;
          }
        }
      }

      .coupon-label-wrapper {
        text-align: center;

        .coupon-label {
          padding: 0px 0px 0px 5px;
          font-size: 20px;
          font-weight: bold;

          @include media-breakpoint('lt-sm') {
            font-size: 12px;
          }
        }
      }
    }
  }
}
