<div class="voucher-card">
    <div nz-row>
        <div nz-col nzSpan="12">
            <div class="cashback-left-wrapper">
                <div nz-row>
                    <div nz-col nzSpan="12">
                        <div class="store-avatar">
                            <nz-avatar nzIcon="user" nzSrc="/assets/logo/gardilo-mini2.png"></nz-avatar>
                        </div>

                    </div>
                    <div nz-col nzSpan="12">
                        <div class="cashback-promo">
                            <div *ngIf="cashback.details[0].isPercentage;else moneyCashback"
                                class="cashback-percentage">
                                {{(cashback.details[0].amount / 100) | percent}}
                            </div>
                            <ng-template #moneyCashback>
                                {{cashback.details[0].amount | currency:'Ks' : 'symbol' : '1.0-0'}}
                            </ng-template>
                        </div>
                    </div>
                    <div nz-col nzSpan="12">
                        <div class="side-wide">
                            SITEWIDE
                        </div>
                    </div>
                    <div nz-col nzSpan="12">
                        <div class="cashback-promo">
                            <div class="cashback-promo-title">CASHBACK</div>
                        </div>
                    </div>

                    <div nz-col nzSpan="24">
                        <div class="coupon-description">
                            <div class="coupon-valid-date-wrapper">
                                <span class="coupon-valid-date">
                                    {{cashback.validFrom | date: 'dd-MM-yyyy'}} -
                                    {{cashback.validTo | date: 'dd-MM-yyyy'}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div nz-col nzSpan="12">

            <div class="cashback-right-wrapper">
                <div nz-row>
                    <div nz-col nzSpan="24">
                        <div class="cashback-coupon-code"><span>{{cashback.discountCode}}</span></div>
                    </div>

                    <div nz-col nzSpan="24">
                        <div class="cashback-coupon-description" *ngIf="cashback.details[0].minAmount > 0">
                            Min.spend
                            <span>
                                {{cashback.details[0].minAmount | currency:'Ks' : 'symbol' : '1.0-0'}}
                            </span>
                        </div>
                    </div>

                    <div nz-col nzSpan="24">
                        <div class="coupon-description">
                            <div class="coupon-label-wrapper">
                                <span class="coupon-label">Use Coupon Code</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div nz-row>
        <div nz-col nzSpan="24">
            <div class="coupon-description">
                <div nz-row nzGutter="16">
                    <div nz-col nzSpan="12" class="coupon-valid-date-wrapper">
                        <span class="coupon-valid-date">{{getDate(0)}} - {{getDate(20)}}</span>
                    </div>
                    <div nz-col nzSpan="12" class="coupon-label-wrapper">
                        <span class="coupon-label">Use Coupon Code</span>
                    </div>
                </div>
            </div>

        </div>
    </div> -->

</div>