<vs-panel [title]="title | uppercase">
    <div extra>
        <nz-space>
            <nz-space-item>
                <a nz-button nzType="link" nzDanger [routerLink]="['/pages/flash-deal-collection']">
                    <i nz-icon nzType="fullscreen" style="font-size: 1.1em;"></i>See All
                </a>
            </nz-space-item>
            <nz-space-item>
                <a nz-button nzType="link" nzDanger (click)="owl.prev()">
                    <i nz-icon nzType="left-square" nzTheme="fill" style="font-size: 1.5em;"></i>
                </a>
            </nz-space-item>
            <nz-space-item>
                <a nz-button nzType="link" nzDanger (click)="owl.next()">
                    <i nz-icon nzType="right-square" nzTheme="fill" style="font-size: 1.5em;"></i>
                </a>
            </nz-space-item>
        </nz-space>
    </div>
    <div body class="content-wrapper">
        <owl-carousel-o #owl [options]="carousel.options" *ngIf="loading">
            <ng-container *ngFor="let ghost of ghosts">
                <ng-template carouselSlide>
                    <div class="owl-sub-item">
                        <ghost-item></ghost-item>
                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>

        <owl-carousel-o #owl [options]="carousel.options" [@fadeIn]="data?.length">
            <ng-container *ngFor="let product of data">
                <ng-template carouselSlide>
                    <div class="owl-sub-item">
                        <product-box [product]="product" [mode]="'deal'"></product-box>
                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
</vs-panel>

<!-- <section id="flash-deals" class="tools-grey">
    <div class="container">
        <div class="viwer-wrapper">
            <div class="viwer-title">
                <div class="viwer-title-spacer">
                    <span class="mr-2">Ending in</span>
                    <span class="countdown">{{countdown.days}}</span>
                    <span>&nbsp;:&nbsp;</span>
                    <span class="countdown">{{countdown.hours}}</span>
                    <span>&nbsp;:&nbsp;</span>
                    <span class="countdown">{{countdown.minutes}}</span>
                    <span>&nbsp;:&nbsp;</span>
                    <span class="countdown">{{countdown.seconds}}</span>
                </div>
                <button type="button" class="btn btn-link" (click)="owlFlashDeals.prev()">
                    <fa-icon icon="chevron-circle-left"></fa-icon>
                </button>
                <button type="button" class="btn btn-link" (click)="owlFlashDeals.next()">
                    <fa-icon icon="chevron-circle-right"></fa-icon>
                </button>
            </div>
            <div class="viwer-body">
                
            </div>
        </div>
    </div>
</section> -->