<section id="flash-deals" class="tools-grey">
    <div class="container">
        <div class="viwer-wrapper">
            <div class="viwer-title">
                <div class="viwer-title-spacer">
                    <span class="mr-2">Ending in</span>
                    <span class="countdown">{{countdown.days}}</span>
                    <span>&nbsp;:&nbsp;</span>
                    <span class="countdown">{{countdown.hours}}</span>
                    <span>&nbsp;:&nbsp;</span>
                    <span class="countdown">{{countdown.minutes}}</span>
                    <span>&nbsp;:&nbsp;</span>
                    <span class="countdown">{{countdown.seconds}}</span>
                </div>
                <!-- <button type="button" class="btn btn-link">
                    <span>see all</span>
                    <fa-icon icon="expand-arrows-alt" class="ml-2"></fa-icon>
                </button> -->
                <button type="button" class="btn btn-link" (click)="owlFlashDeals.prev()">
                    <fa-icon icon="chevron-circle-left"></fa-icon>
                </button>
                <button type="button" class="btn btn-link" (click)="owlFlashDeals.next()">
                    <fa-icon icon="chevron-circle-right"></fa-icon>
                </button>
            </div>
            <div class="viwer-body">
                <div class="title3">
                    <h2 class="title-inner3">Flash Deals</h2>
                    <div class="line"></div>
                </div>
                <owl-carousel-o #owlFlashDeals [options]="carousel.options">
                    <ng-container *ngFor="let product of products">
                        <ng-template carouselSlide>
                            <a routerLink="/pages/shop" routerLinkActive="active">
                                <div class="owl-sub-item">
                                    <product-box [product]="product" [mode]="'deal'"></product-box>
                                </div>
                            </a>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>