<section id="newly-added" class="tools-grey">
    <div class="container">
        <div class="viwer-wrapper">
            <div class="viwer-title">
                <div class="viwer-title-spacer title">
                    newly added
                </div>
                <button type="button" class="btn btn-link" (click)="owlNewlyAdded.prev()">
                    <fa-icon icon="chevron-circle-left"></fa-icon>
                </button>
                <button type="button" class="btn btn-link" (click)="owlNewlyAdded.next()">
                    <fa-icon icon="chevron-circle-right"></fa-icon>
                </button>
            </div>
            <div class="viwer-body">
                <owl-carousel-o #owlNewlyAdded [options]="carousel.options">
                    <ng-container *ngFor="let product of data">
                        <ng-template carouselSlide>
                            <div class="owl-sub-item">
                                <product-box [product]="product" [mode]="'popular'"></product-box>
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>