<vs-panel [title]="'Ratings & Reviews of ' + productName">
    <div body class="content-wrapper">
        <div nz-row [nzGutter]="16">
            <div nz-col class="gutter-row" [nzXs]="24" [nzLg]="8">
                <div class="inner-box summary">
                    <div class="score">
                        <span class="score-average">{{ratings.overallRating.toFixed(1) | number:'1.1'}}</span>
                        <span class="score-max">/5</span>
                    </div>
                    <div class="average">
                        <nz-rate [(ngModel)]="ratings.overallRating" nzDisabled></nz-rate>
                    </div>
                    <div class="count">
                        {{ratings.totalRating}} Ratings
                    </div>
                </div>
            </div>
            <div nz-col class="gutter-row" [nzXs]="24" [nzLg]="8">
                <div class="inner-box detail">
                    <ul class="p-0">
                        <li *ngFor="let val of stars">
                            <nz-rate [(ngModel)]="val" nzDisabled></nz-rate>
                            <span class="progress-wrap">
                                <div class="progress-item">
                                    <!-- <nz-progress [nzPercent]="getPercentage(val)" nzSize="large" [nzShowInfo]="false">
                                    </nz-progress> -->
                                    <ngb-progressbar type="warning" [value]="getPercentage(val)"></ngb-progressbar>
                                </div>
                            </span>
                            <span>{{getRate(val)}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</vs-panel>
<vs-panel [title]="'Reviews'">
    <div body class="content-wrapper">
        <ng-container *ngIf="reviews.length <= 0;else showreviews">
            <nz-empty nzNotFoundImage="assets/icons/review.svg" [nzNotFoundContent]="contentTpl"
                [nzNotFoundFooter]="footerTpl">
                <ng-template #contentTpl>
                    <p>This product has no reviews.</p>
                    <p>Let others know what do you think and be the first to write a review.</p>
                </ng-template>
                <ng-template #footerTpl>
                </ng-template>
            </nz-empty>
        </ng-container>
        <ng-template #showreviews>
            <nz-table class="no-hover-row" #nzTable [nzData]="reviews" nzTableLayout="fixed" [nzPageSize]="5"
                [nzHideOnSinglePage]="true">
                <tbody>
                    <ng-container *ngFor="let data of nzTable.data">
                        <tr>
                            <td>
                                <nz-list nzItemLayout="vertical">
                                    <nz-list-item>
                                        <nz-list-item-meta>
                                            <!-- <nz-list-item-meta-avatar [nzSrc]="item.avatar"> </nz-list-item-meta-avatar> -->
                                            <nz-list-item-meta-title>
                                                <nz-rate [(ngModel)]="data.lineRating" nzDisabled></nz-rate>
                                            </nz-list-item-meta-title>
                                            <nz-list-item-meta-description>
                                                <div>
                                                    <span>{{getDistanceDate(data.customerReviewedOn)}} ago</span>
                                                </div>
                                                <div class="verify">
                                                    <span style="margin-right: 0.5em;">by {{ data.customerName }}</span>

                                                    <span class="verify-shield"><i nz-icon nzType="safety"
                                                            nzTheme="outline"></i>Verified Purchase
                                                    </span>
                                                </div>
                                            </nz-list-item-meta-description>
                                        </nz-list-item-meta>
                                        {{ data.lineReview }}
                                        <ul nz-list-item-actions>
                                            <nz-list-item-action>
                                                <a>
                                                    <i nz-icon nzType="like" nzTheme="fill"
                                                        style="margin-right: 0.5em;"></i>
                                                    0
                                                </a>
                                            </nz-list-item-action>
                                        </ul>
                                        <nz-list-item-extra>
                                            <div *ngIf="data.reviewImageBlob">
                                                <img width="100" height="100"
                                                    [src]="blobUrl + data.reviewImageBlob + '/thumbnail'">
                                            </div>
                                        </nz-list-item-extra>
                                    </nz-list-item>
                                </nz-list>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </nz-table>
        </ng-template>
    </div>

</vs-panel>