.kt-mat-snackbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 3px;
}

.kt-mat-snackbar .kt-mat-snackbar__message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.kt-mat-snackbar .kt-mat-snackbar__btn {
    padding: 0 0 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.kt-mat-snackbar .kt-mat-snackbar__close {
    padding: 0 0 0 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.kt-mat-snackbar .kt-mat-snackbar__close .material-icons {
    opacity: 0.8;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #fff;
}

.kt-mat-snackbar .kt-mat-snackbar__close .material-icons:hover {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 1;
}