body {

    p-inplace {
        &#discount-code {
            .ui-inplace {
                .ui-inplace-content {
                    .ui-inputgroup {
                        padding-right: 5px;
                    }
                }
            }
        }
    }

    p-table {

        &#order-lists,
        &#review-products {

            .ui-table .ui-table-tbody>tr:nth-child(even) {
                background-color: #FFFFFF !important;
            }

            .ui-table .ui-table-tbody>tr>td,
            .ui-paginator,
            .ui-table .ui-table-caption,
            .ui-table .ui-table-thead>tr>th {
                // border-bottom: 1px solid #c8c8c8 !important;
                // border-left:  none !important;
                // border-top:  none !important;
                // border-right:  none !important;
                background: transparent !important;
                border: none !important;
            }

            .ui-table-wrapper {
                padding-bottom: 10px !important;
            }
        }
    }

    #payment {
        width: 100%;

        .ui-tabview.ui-tabview-top .ui-tabview-nav li {
            border: none !important;
        }

        .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active {
            background-color: #FFFFFF;

            >a {
                color: inherit;
            }
        }

        .ui-tabview .ui-tabview-panels {
            border: none !important;
        }
    }

    #discount-code {
        .ui-inplace .ui-inplace-display {
            padding: 0 !important;
        }
    }

    #order-sidebar {
        .ui-card-title {
            font-size: 1.8rem !important;
        }
    }

    .default-button {
        span {
            padding: 0em 1em !important;
            color: rgba(0, 0, 0, .8) !important;
            font-weight: 500 !important;
            font-size: 0.9rem !important;
        }
    }

    #verify {
        span {
            font-size: 0.6em;
            font-weight: 600;
        }
    }

    p-card {
        &.success-page:not(:last-child) {
            .ui-card {
                margin-bottom: 20px;
            }
        }

        &.order-details {
            .ui-card {
                margin-bottom: 20px;
            }
        }

        &#product-box {
            .ui-card {
                box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px 0px rgba(0, 0, 0, 0.12);
            }

            .ui-card-shadow {
                // transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

                @include media-breakpoint("gt-md") {
                    &:hover {
                        cursor: pointer;
                        box-shadow: 0px 3px 1px -2px rgba(211, 164, 164, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
                        // box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
                        // box-shadow: 0 0.0625rem 20px 0 rgba(0, 0, 0, .05);
                        // transform: translateY(-.0625rem);
                        // border: 1px solid #ee4d2d;
                    }
                }
            }
        }

        &#dashboard-address {
            .ui-card {
                margin-top: 10px;
            }
        }

        // &:last-child {
        //     &#dashboard-address {
        //         .ui-card {
        //             margin-bottom: 10px;
        //         }
        //     }
        // }

        &#business-entity,
        &#order-summary,
        &#dashboard-address,
        &#shopping-card-summary,
        &#shipping-cart-list,
        &#payment-summary,
        &#checkout-new-addresses,
        &#myaddresses-update,
        &.success-page,
        &.order-details {
            .ui-card {
                box-shadow: none !important;
            }
        }
    }

    .ui-toolbar {
        // background-color: #FFFFFF !important;     
        border: none !important;
    }

    .search-wrapper .search-bar {
        width: 100%;

        >.ui-autocomplete {
            width: 100%;
        }

        input {
            width: 100%;
            // height: 100%;
            border: none !important;
            outline: none !important;
            line-height: inherit !important;
            color: #333333 !important;
        }

        .ui-autocomplete-panel {
            margin-top: 5px;
        }
    }

    .ui-dataview .ui-dataview-content {
        background-color: transparent !important;
    }

    .ui-tree {
        border: none !important;
        background-color: transparent !important;
        padding: 0 !important;
    }

    .ui-breadcrumb {
        background-color: transparent;
        border: none;
    }

    .tree-wrapper {
        // .ui-tree {
        //     width: auto !important;
        // }

        .ui-widget {
            font-size: 12px;
        }
    }

    .ui-widget {
        font-family: inherit !important;
        font-size: inherit !important;
    }

    #newly-added,
    #popular-products {
        .ui-carousel {
            .ui-carousel-header {
                background: #FFFFFF !important;
            }

            .ui-carousel-viewport {
                background: #FFFFFF !important;
            }
        }
    }

    .ui-carousel {

        .ui-carousel-header {
            border: none;
            padding: 0.571em 0.571em;
        }

        .ui-carousel-viewport {
            background-color: transparent;
            border: none;
        }

        .ui-carousel-viewport .ui-carousel-items .ui-carousel-item {
            border: none !important;
            padding: 1px;
        }

        .ui-carousel-header .ui-carousel-header-title {
            // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            text-transform: uppercase;
            font-weight: 500;
        }

        .ui-carousel-page-links {
            display: none;
        }
    }
}

.ui-card-shadow {

    //drop shadow
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

    @include media-breakpoint("gt-md") {
        &:hover {
            cursor: pointer;
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }
    }

    .ui-card-body {
        padding: 0.5em !important;
    }

    .ui-card-title {
        font-size: 1em !important;
        min-height: 42px !important;
    }

    .ui-card-content {
        div {
            font-size: 0.85em !important;
        }
    }

    // .square {
    //     width: 100%;
    //     padding-bottom: 100%;
    //     background-size: contain;
    //     background-repeat: no-repeat;
    //     background-position: center;

    //     &.no-image {
    //         background-image: url('assets/images/noimage.png');
    //     }
    // }

    // .product-name {
    //     min-height: 62px;
    // }

    // .product-sold {
    //     font-size: 0.9em;
    //     font-weight: 500;
    //     text-align: right;
    // }

    // .product-price {
    //     font-size: 0.9em;
    //     color: #f57224;
    //     font-weight: 500;
    // }
}