:host {
    margin: 10px 0px;

    table {
        width: 100%;

        tr {
            td {
                // :first-child {
                //     max-width: 64px;
                // }

                &.address-title {
                    display: inline-flex;

                    .contact-person {
                        width: auto !important;
                        font-size: 1.2em;
                        color: #43484D;
                        font-weight: 500;
                    }

                    .address-type {
                        width: auto !important;
                        margin-left: 10px;
                    }
                }

                .info {
                    font-weight: 500;
                    font-size: 0.95em;
                }
            }
        }

    }
}