<vs-panel [title]="'My Orders'">
  <div body class="content-wrapper">
    <nz-tabset>
      <nz-tab *ngFor="let tab of navOrders" [nzSize]="'small'" [nzTitle]="tab.label">
      </nz-tab>
    </nz-tabset>

    <nz-table class="no-hover-row" #nzTable nzSize="small" [nzHideOnSinglePage]="true" [nzData]="(orders$ | async)"
      nzTableLayout="fixed" [nzLoading]="(ordersLoading$ | async)" [nzShowRowSelection]="false">
      <tbody>
        <ng-container *ngFor="let data of nzTable.data | orderBy: '-orderDate'">
          <tr>
            <td>
              <vs-panel-list [title]="'Order #' + data.customerPurchaseOrderNumber"
                [subTitle]="'Placed on '+ getDateTime(data.orderDate)">
                <div extra>
                  <a nz-button nzType="link" [routerLink]="['/checkout/payment', data.id, 'secure']" nzDanger
                    *ngIf="data.paymentStatus === 'PENDING' || data.paymentStatus === 'UNSUCCESSFUL'">PAY
                    NOW</a>
                  <a nz-button nzType="link" [routerLink]="['/pages/dashboard/my-orders',data.id,'view']"
                    *ngIf="data.paymentStatus === 'PAID'">MANAGE</a>
                  <nz-tag nzColor="warning" *ngIf="data.paymentStatus === 'TO_CHECK'">PAYMENT PENDING</nz-tag>
                </div>
                <div body class="content-wrapper">
                  <nz-list class="order-line-list" [nzHeader]="orderPackage.orderLinesList[0].supplierName | uppercase"
                    *ngFor="let orderPackage of data.orderDetails">
                    <nz-list-item *ngFor="let lineItem of orderPackage.orderLinesList">
                      <nz-list-item-meta>
                        <nz-list-item-meta-avatar>
                          <img width="50" [src]="blobUrl + lineItem.thumbnailUrl">
                        </nz-list-item-meta-avatar>

                        <nz-list-item-meta-title>
                          <span>{{ lineItem.description }}</span>
                        </nz-list-item-meta-title>

                        <nz-list-item-meta-description>
                          x {{ lineItem.quantity }}
                        </nz-list-item-meta-description>
                      </nz-list-item-meta>

                      <span>Delivered on {{getDate(data.orderDate)}}</span>
                    </nz-list-item>
                  </nz-list>
                </div>
              </vs-panel-list>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </nz-table>
  </div>
</vs-panel>