<div class="container" *ngIf="productDetails">
    <div nz-row [nzGutter]="16" class="product-details">
        <div nz-col class="gutter-row" ngXs="24" ngSm="24" ngMd="10" nzLg="10" nzXl="10">
            <product-gallery [stockItem]="currentStockItem"></product-gallery>
        </div>
        <div nz-col class="gutter-row" ngXs="24" ngSm="24" ngMd="14" nzLg="14" nzXl="14">
            <nz-list class="reviews-bar" [nzBordered]="false" [nzLoading]="!product">
                <nz-list-item>
                    <nz-list-item-meta>
                        <nz-list-item-meta-title>
                            <span>{{ productDetails.productCategoryName }}</span>
                        </nz-list-item-meta-title>
                        <nz-list-item-meta-description>
                            <h3>{{ currentStockItem?.name}}</h3>
                            <p class="m-0-p">{{ productDetails.productBrandName }}</p>
                        </nz-list-item-meta-description>
                    </nz-list-item-meta>
                </nz-list-item>

                <nz-list-item>
                    <ng-container>
                        <nz-list-item-meta>
                            <nz-list-item-meta-title>
                                <nz-rate [(ngModel)]="productDetails.ratings.overallRating" nzDisabled></nz-rate>
                                <span class="ant-rate-text">{{ productDetails.ratings.totalRating }} Ratings |
                                    {{(questions$ | async).length}}
                                    Answered
                                    Question</span>
                            </nz-list-item-meta-title>
                        </nz-list-item-meta>
                        <ul nz-list-item-actions class="user-activities">
                            <nz-list-item-action>
                                <button nz-button nzType="default" nzShape="circle">
                                    <i nz-icon nzType="share-alt"></i>
                                </button>
                            </nz-list-item-action>
                            <nz-list-item-action>
                                <button nz-button [nzType]="inCompare?'primary':'default'" nzShape="circle"
                                    [nzDanger]="inCompare" (click)="toggleCompare(currentStockItem,inCompare)">
                                    <i nz-icon nzType="copy"></i>
                                </button>
                            </nz-list-item-action>
                            <nz-list-item-action>
                                <button nz-button [nzType]="inWishlist?'primary':'default'" nzShape="circle"
                                    [nzDanger]="inWishlist" (click)="toggleWishlist(currentStockItem,inWishlist)">
                                    <i nz-icon nzType="heart"></i>
                                </button>
                            </nz-list-item-action>
                        </ul>
                    </ng-container>
                </nz-list-item>
                <!-- <nz-list-item>
                    <ng-container>
                        <nz-list-item-meta>
                            <nz-list-item-meta-title>
                                Brand : {{product.productBrandName}}
                            </nz-list-item-meta-title>
                        </nz-list-item-meta>
                    </ng-container>
                </nz-list-item> -->
                <nz-list-item>
                    <ng-container>
                        <nz-list-item-meta>
                            <nz-list-item-meta-title>
                                <span class="unit-price">{{ currentStockItem?.unitPrice | currency }}</span>
                                <span
                                    class="retail-price">{{ currentStockItem?.recommendedRetailPrice | currency }}</span>
                                <span class="discount-percent" style="margin-left: 5px;">-15%</span>
                            </nz-list-item-meta-title>
                        </nz-list-item-meta>
                    </ng-container>
                </nz-list-item>
                <nz-list-item>
                    <ng-container>
                        <nz-list-item-meta>
                            <nz-list-item-meta-title>
                                <span>Color Family : {{currentStockItem?.productAttributeName}}</span>
                            </nz-list-item-meta-title>
                        </nz-list-item-meta>
                    </ng-container>
                </nz-list-item>
                <nz-list-item>
                    <ng-container>
                        <div class="flex-row-container">
                            <div class="flex-row-wrapper">
                                <div class="d-flex flex-row bd-highlight mb-1">
                                    <div class="p-1 bd-highlight"
                                        *ngFor="let stockItem of productDetails.stockItemList">
                                        <a href="javascript:void(0);" (click)="onChangeStockItem(stockItem)">
                                            <div class="small-img"
                                                [class.active]="currentStockItem?.id === stockItem.id"
                                                [style.backgroundImage]="'url(' + blobUrl + stockItem.thumbnailUrl + ')'">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </nz-list-item>
                <nz-list-item>
                    <ng-container>
                        <nz-list-item-meta>
                            <nz-list-item-meta-title>
                                <span class="mr-2">Quantity</span>
                                <nz-input-number [(ngModel)]="quantity" [nzMin]="1"
                                    [nzMax]="currentStockItem?.quantityOnHand" [nzStep]="1">
                                </nz-input-number>
                                <a class="ml-2" (click)="open(faq)">How to contact support?</a>
                            </nz-list-item-meta-title>
                        </nz-list-item-meta>
                    </ng-container>
                </nz-list-item>
                <nz-list-item>
                    <nz-tag [nzColor]="'#f50'" *ngIf="currentStockItem?.quantityOnHand <= 0">Out Of Stock</nz-tag>
                </nz-list-item>
                <nz-list-item>
                    <ng-container>
                        <ul nz-list-item-actions class="product-detail-actions">
                            <nz-list-item-action>
                                <button nz-button nzType="default" nzDanger [nzSize]="'large'"
                                    (click)="buyNow(currentStockItem,inCart)"
                                    [disabled]="currentStockItem?.quantityOnHand <= 0">Buy
                                    Now</button>
                            </nz-list-item-action>
                            <nz-list-item-action>
                                <button nz-button nzType="primary" nzDanger [nzSize]="'large'"
                                    (click)="addToCart(currentStockItem,inCart)"
                                    [disabled]="currentStockItem?.quantityOnHand <= 0">Add To
                                    Cart</button>
                            </nz-list-item-action>
                        </ul>
                    </ng-container>
                </nz-list-item>
            </nz-list>
        </div>
    </div>

    <section>
        <vs-panel [title]="'Product Details of ' + currentStockItem?.name">
            <div body class="content-wrapper">
                {{productDetails.longDescription}}
            </div>
        </vs-panel>

        <vs-panel [title]="'Highlights'">
            <div body class="content-wrapper">
                {{productDetails.highlights}}
            </div>
        </vs-panel>

        <vs-panel [title]="'What In The Box'">
            <div body class="content-wrapper">
                {{productDetails.whatInTheBox}}
            </div>
        </vs-panel>
    </section>
    <section>
        <review-product [ratings]="productDetails?.ratings" [reviews]="productDetails?.reviewList || []"
            [productName]="productDetails?.productName">
        </review-product>
    </section>

    <section>
        <questions-product [product]="product"></questions-product>
    </section>

    <section>
        <related-product [relatedProducts]="productDetails?.relatedList" [loading]="productDetailsLoading">
        </related-product>
    </section>
</div>