<div class="container" *ngIf="productObject">
    <div nz-row [nzGutter]="16" class="product-details">
        <div nz-col class="gutter-row" ngXs="24" ngSm="24" ngMd="10" nzLg="10" nzXl="10">
            <product-gallery [stockItem]="currentStockItem"></product-gallery>
        </div>
        <div nz-col class="gutter-row" ngXs="24" ngSm="24" ngMd="14" nzLg="14" nzXl="14">
            <nz-list class="reviews-bar" [nzBordered]="false" [nzLoading]="!product">
                <nz-list-item>
                    <nz-list-item-meta>
                        <nz-list-item-meta-title>
                            <span>{{ productObject.productCategoryName }}</span>
                        </nz-list-item-meta-title>
                        <nz-list-item-meta-description>
                            <h3>{{ currentStockItem?.name}}</h3>
                            <p class="m-0-p">{{ productObject.productBrandName }}</p>
                        </nz-list-item-meta-description>
                    </nz-list-item-meta>
                </nz-list-item>

                <nz-list-item>
                    <ng-container>
                        <nz-list-item-meta>
                            <nz-list-item-meta-title>
                                <nz-rate [(ngModel)]="productObject.ratings.overallRating" nzDisabled>
                                </nz-rate>
                                <span class="ant-rate-text">{{ productObject.ratings.totalRating }}
                                    Ratings |
                                    {{(questions$ | async).length}}
                                    Answered
                                    Question</span>
                            </nz-list-item-meta-title>
                        </nz-list-item-meta>
                        <ul nz-list-item-actions class="user-activities">
                            <nz-list-item-action>
                                <button nz-button nzType="default" nzShape="circle"
                                    nzTooltipTitle="Share on social media" nzTooltipPlacement="bottom" nz-tooltip>
                                    <i nz-icon nzType="share-alt"></i>
                                </button>
                            </nz-list-item-action>
                            <nz-list-item-action>
                                <button nz-button [nzType]="inCompare?'primary':'default'" nzShape="circle"
                                    [nzDanger]="inCompare" (click)="toggleCompare(currentStockItem,inCompare)"
                                    [nzTooltipTitle]="inCompare?'Remove from Compare':'Add to Compare'"
                                    nzTooltipPlacement="bottom" nz-tooltip>
                                    <i nz-icon nzType="copy"></i>
                                </button>
                            </nz-list-item-action>
                            <nz-list-item-action>
                                <button nz-button [nzType]="inWishlist?'primary':'default'" nzShape="circle"
                                    [nzDanger]="inWishlist" (click)="toggleWishlist(currentStockItem,inWishlist)"
                                    [nzTooltipTitle]="inWishlist?'Remove from Wishlist':'Add to wishlist'"
                                    nzTooltipPlacement="bottom" nz-tooltip>
                                    <i nz-icon nzType="heart"></i>
                                </button>
                            </nz-list-item-action>
                        </ul>
                    </ng-container>
                </nz-list-item>
                <!-- <nz-list-item>
                    <ng-container>
                        <nz-list-item-meta>
                            <nz-list-item-meta-title>
                                Brand : {{product.productBrandName}}
                            </nz-list-item-meta-title>
                        </nz-list-item-meta>
                    </ng-container>
                </nz-list-item> -->
                <nz-list-item>
                    <ng-container>
                        <nz-list-item-meta>
                            <nz-list-item-meta-title>
                                <span class="unit-price">{{ currentStockItem?.unitPrice | currency:'MMK' }}</span>
                                <span
                                    class="retail-price">{{ currentStockItem?.recommendedRetailPrice | currency:'MMK' }}</span>
                                <span class="discount-percent" style="margin-left: 5px;">-15%</span>
                            </nz-list-item-meta-title>
                        </nz-list-item-meta>
                    </ng-container>
                </nz-list-item>
                <nz-list-item *ngIf="currentStockItem?.productAttributeValue">
                    <ng-container>
                        <nz-list-item-meta>
                            <nz-list-item-meta-title>
                                <span>{{currentStockItem?.productAttributeSetName}} :
                                    {{currentStockItem?.productAttributeValue}}</span>
                            </nz-list-item-meta-title>
                        </nz-list-item-meta>
                    </ng-container>
                </nz-list-item>
                <nz-list-item *ngIf="currentStockItem?.productOptionValue">
                    <ng-container>
                        <nz-list-item-meta>
                            <nz-list-item-meta-title>
                                <span>{{currentStockItem?.productOptionSetValue}} :
                                    {{currentStockItem?.productOptionValue}}</span>
                            </nz-list-item-meta-title>
                        </nz-list-item-meta>
                    </ng-container>
                </nz-list-item>
                <nz-list-item>
                    <ng-container>
                        <div class="flex-row-container">
                            <div class="flex-row-wrapper">
                                <div class="d-flex flex-row bd-highlight mb-1">
                                    <div class="p-1 bd-highlight"
                                        *ngFor="let stockItem of productObject.stockItemLists">
                                        <a href="javascript:void(0);" (click)="onChangeStockItem(stockItem)">
                                            <div class="small-img"
                                                [class.active]="currentStockItem?.id === stockItem.id"
                                                [style.backgroundImage]="'url(' + blobUrl + stockItem.thumbnailPhoto + '/thumbnail)'">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </nz-list-item>
                <nz-list-item>
                    <ng-container>
                        <nz-list-item-meta>
                            <nz-list-item-meta-title>
                                <span class="mr-2">Quantity</span>
                                <nz-input-number [(ngModel)]="quantity" [nzMin]="1"
                                    [nzMax]="currentStockItem?.quantityOnHand" [nzStep]="1">
                                </nz-input-number>
                                <a class="ml-2" (click)="open(faq)">How to contact support?</a>
                            </nz-list-item-meta-title>
                        </nz-list-item-meta>
                    </ng-container>
                </nz-list-item>
                <nz-list-item>
                    <nz-tag [nzColor]="'#f50'" *ngIf="currentStockItem?.quantityOnHand <= 0">Out Of Stock</nz-tag>
                </nz-list-item>
                <nz-list-item>
                    <ng-container>
                        <ul nz-list-item-actions class="product-detail-actions">
                            <nz-list-item-action>
                                <button nz-button nzType="default" nzDanger [nzSize]="'large'"
                                    (click)="buyNow(currentStockItem,inCart)"
                                    [disabled]="currentStockItem?.quantityOnHand <= 0">Buy
                                    Now</button>
                            </nz-list-item-action>
                            <nz-list-item-action>
                                <button nz-button nzType="primary" nzDanger [nzSize]="'large'"
                                    (click)="addToCart(currentStockItem,inCart)"
                                    [disabled]="currentStockItem?.quantityOnHand <= 0">Add To
                                    Cart</button>
                            </nz-list-item-action>
                        </ul>
                    </ng-container>
                </nz-list-item>
            </nz-list>
        </div>
    </div>

    <section>
        <div class="embed-responsive embed-responsive-16by9" *ngIf="productObject.videoUrl">
            <iframe class="embed-responsive-item" [src]="videoURL(productObject.videoUrl)"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

        <vs-panel [title]="'Product Details of ' + currentStockItem?.name" *ngIf="productObject.longDescription">
            <div body class="content-wrapper">
                <div [innerHTML]="productObject.longDescription"></div>
            </div>
        </vs-panel>

        <vs-panel [title]="'Highlights'" *ngIf="productObject.highlights">
            <div body class="content-wrapper">
                <div [innerHTML]="productObject.highlights"></div>
            </div>
        </vs-panel>

        <vs-panel [title]="'What In The Box'" *ngIf="productObject.whatInTheBox">
            <div body class="content-wrapper">
                <div [innerHTML]="productObject.whatInTheBox"></div>
            </div>
        </vs-panel>

        <vs-panel [title]="'Special Features'" *ngIf="productObject.specialFeatures">
            <div body class="content-wrapper">
                <nz-descriptions nzBordered [nzSize]="'middle'"
                    [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 2, sm: 1, xs: 1 }">
                    <nz-descriptions-item [nzTitle]="item.name" *ngFor="let item of specialFeatures">{{item.value}}
                    </nz-descriptions-item>
                </nz-descriptions>
            </div>
        </vs-panel>
    </section>
    <section>
        <review-product [ratings]="productObject?.ratings" [reviews]="productObject?.reviewList || []"
            [productName]="productObject?.productName">
        </review-product>
    </section>

    <section>
        <questions-product [product]="product"></questions-product>
    </section>

    <section>
        <related-product [relatedProducts]="productObject?.relatedList" [loading]="productObjectLoading"
            *ngIf="productObject?.relatedList?.length > 0">
        </related-product>
    </section>
</div>