<div class="container" *ngIf="product">
    <div class="details-wrapper">
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="wrapper">
                    <product-gallery></product-gallery>
                </div>
            </div>
            <div class="col-md-7 rtl-text" *ngIf="product">
                <div class="wrapper">
                    <div class="right-column">
                        <div class="product-description">
                            <span>{{ product.productSubCategoryProductSubCategoryName }}</span>
                            <h1>{{ product.productName}}</h1>
                            <p> {{ product.productModelProductModelName }}</p>
                        </div>

                        <div class="product-reviews">
                            <div class="review-left">
                                <ngb-rating [(rate)]="rating" [readonly]="true" max="5">
                                    <ng-template let-fill="fill" let-index="index">
                                        <span class="star" [class.text-warning]="fill === 100">
                                            <fa-icon icon="star"></fa-icon>
                                        </span>
                                    </ng-template>
                                </ngb-rating>
                                <a style="margin-left:5px;" href="JavaScript:void(0);"><span>4 Ratings</span></a>
                                <span style="margin:0 5px;">|</span>
                                <a href="JavaScript:void(0);"><span>10 Answered Question</span></a>
                            </div>
                            <div class="review-right">
                                <button class="btn btn-link" aria-label="share via" (click)="onShareVia($event)"
                                    ngbTooltip="Share Via">
                                    <fa-icon icon="share"></fa-icon>
                                </button>
                                <button class="btn btn-link" aria-label="compare"
                                    (click)="toggleCompare(product,inCompare)" ngbTooltip="Compare">
                                    <fa-icon [icon]="[inCompare?'fas':'far','bookmark']"></fa-icon>
                                </button>
                                <button class="btn btn-link" aria-label="wishlist"
                                    (click)="toggleWishlist(product,inWishlist)" ngbTooltip="Wishlist">
                                    <fa-icon [icon]="[inWishlist?'fas':'far','heart']"></fa-icon>
                                </button>
                            </div>
                        </div>
                        <div class="product-brand">
                            Brand : {{product.brand}}
                        </div>

                        <div class="product-price">

                            <div class="row">
                                <div class="col-md-12">
                                    <span class="unit-price">${{ product.unitPrice }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div style="display: inline-flex;">
                                        <span class="retail-price">${{ product.recommendedRetailPrice }}</span>
                                        <span class="discount-percent" style="margin-left: 5px;">-15%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-configuration">
                            <div class="product-color">
                                <span>Color</span>

                                <div class="color-choose">
                                    <div>
                                        <input data-image="red" type="radio" id="red" name="color" value="red" checked>
                                        <label for="red"><span></span></label>
                                    </div>
                                    <div>
                                        <input data-image="blue" type="radio" id="blue" name="color" value="blue">
                                        <label for="blue"><span></span></label>
                                    </div>
                                    <div>
                                        <input data-image="black" type="radio" id="black" name="color" value="black">
                                        <label for="black"><span></span></label>
                                    </div>
                                </div>

                            </div>

                            <div class="cable-config">
                                <span>Quantity</span>

                                <div class="cable-choose">
                                    <input #amount type="number" placeholder="Amount" min="1" value="1">
                                </div>
                                <a (click)="open(faq)">How to contact support?</a>
                            </div>
                        </div>

                        <div class="product-details-control">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-warning" (click)="buyNow(product,amount,inCart)">Buy
                                        Now</button>
                                    <button type="button" class="btn btn-danger ml-2" (click)="addToCart(product,amount)">Add To
                                        Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<review-product [product]="product"></review-product>
<related-product [relatedProducts]="relatedProducts$ | async"></related-product>