<div class="page-layout blank">
    <div class="container">
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                <a>Home</a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                <a>Payment</a>
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
    <div class="payment-form-wrapper mb-4">
        <div class="container" style="min-height: 30vh">
            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <div class="card-container">
                        <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'"
                            (nzSelectedIndexChange)="selectedTabIndexChanged($event)"
                            [nzSelectedIndex]="currentTabIndex">
                            <nz-tab *ngFor="let tab of (paymentMethods$ | async)" [nzTitle]="titleTemplate"
                                (nzSelect)="selectedTabChanged(tab)" [nzDisabled]="!tab.activeInd">
                                <ng-template #titleTemplate>
                                    <!-- <fa-icon icon="shopping-cart"></fa-icon>{{ tab.paymentType }} -->
                                    <div class="tab-header-wrapper">
                                        <div class="tab-header-icon" [ngClass]="tab.iconFont" style="font-size: 2em">
                                        </div>
                                        <div class="tab-header-text">{{ tab.name }}</div>
                                    </div>
                                </ng-template>

                                <credit-card [orders]="orders" (chargeCard)="onChargeCard($event)"
                                    *ngIf="tab.name === 'Credit/Debit Card'"></credit-card>

                                <div class="paypal-checkout-wrapper" *ngIf="tab.name === 'Paypal'">
                                    <nz-spin nzSimple [nzSize]="'large'" nzTip="Please wait..."
                                        *ngIf="(createPaypalLoading$ | async) || (completePaypalLoading$ | async)">
                                    </nz-spin>
                                    <a href="JavaScript:void(0);" (click)="onPaypalCheckout()"
                                        [class.disabled]="(createPaypalLoading$ | async) || (completePaypalLoading$ | async)"><img
                                            src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"></a>
                                    <!-- <iframe *ngIf="paypalRedirectUrl$ | async" width="100%" height="720"
                                        [src]="(paypalRedirectUrl$ | async) | safe"></iframe> -->
                                </div>

                                <div class="bank-transfer px-3" *ngIf="tab.name === 'Bank Transfer'">
                                    <bank-transfer [bankList]="data" [amount]="orders.totalDue" [loading]="loading"
                                        (bankTransfer)="onBankTransfer($event)">
                                    </bank-transfer>
                                </div>

                                <div class="cash-on-delivery px-3" *ngIf="tab.name === 'Cash On Delivery'">
                                    <p class="py-4">You can pay in cash to our courier when you receive the goods at
                                        your
                                        doorstep.</p>
                                    <button nz-button [nzSize]="'large'" nzType="danger" nzBlock
                                        (click)="onCashOnDelivery(orders)">Confirm Order</button>
                                </div>
                            </nz-tab>
                        </nz-tabset>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <vs-panel [title]="'Order Summary'">
                        <!-- <div extra><span>Sub Total - </span>item(s)</div> -->
                        <div body class="content-wrapper">
                            <nz-list>
                                <nz-list-item>
                                    <span class="price">Total</span>
                                    <span class="price total-price">{{orders.totalDue | currency }}</span>
                                </nz-list-item>
                            </nz-list>
                        </div>
                    </vs-panel>
                </div>

            </div>
        </div>
    </div>
</div>