<div class="page-layout blank">
    <div class="payment-form-wrapper mb-4">
        <div class="container" style="min-height: 30vh">
            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <p-tabView id="payment">
                        <p-tabPanel>
                            <ng-template pTemplate="header">
                                <div style="text-align: center; min-width: 10em">
                                    <div class="ui-menuitem-icon" ngClass="fa fa-fw fa-credit-card"
                                        style="font-size: 2em">
                                    </div>
                                    <div class="ui-menuitem-text">
                                        Credit/Debit Card
                                    </div>
                                </div>
                            </ng-template>
                            <credit-card [orders]="orders" (chargeCard)="onChargeCard($event)"></credit-card>
                        </p-tabPanel>
                        <p-tabPanel>
                            <ng-template pTemplate="header">
                                <div style="text-align: center; min-width: 10em">
                                    <div class="ui-menuitem-icon" ngClass="fa fa-fw fa-paypal" style="font-size: 2em">
                                    </div>
                                    <div class="ui-menuitem-text">
                                        Paypal Checkout
                                    </div>
                                </div>
                            </ng-template>
                            <div class="paypal-checkout-wrapper">
                                <a href="JavaScript:void(0);" (click)="onPaypalCheckout()"><img
                                        src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"></a>
                                <iframe *ngIf="paypalRedirectUrl$ | async" width="100%" height="720"
                                    [src]="(paypalRedirectUrl$ | async) | safe"></iframe>
                            </div>

                        </p-tabPanel>
                        <p-tabPanel>
                            <ng-template pTemplate="header">
                                <div style="text-align: center; min-width: 10em">
                                    <div class="ui-menuitem-icon" ngClass="fa fa-fw fa-university"
                                        style="font-size: 2em">
                                    </div>
                                    <div class="ui-menuitem-text">
                                        Bank Payment
                                    </div>
                                </div>
                            </ng-template>
                            Bank Payment
                        </p-tabPanel>
                    </p-tabView>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="card" id="payment-summary">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">Order Summary</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Sub Total - item(s)</h6>

                            <div class="item p-2 pl-4">
                                <div class="row pricing">
                                    <div class="col-md-4 col-4">
                                        <span>Total</span>
                                    </div>
                                    <div class="col-md-8 col-8 mr-auto">
                                        <p class="price p-0 m-0 total-price" style="font-weight: bold">
                                            ${{orders.totalDue.toFixed(2) | number:'1.2' }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>