@import 'src/@vertical/scss/root';

.search-container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 0.2rem 0.2rem 0.2rem 0.6rem;
  border-radius: 2px;
  background: #fff;

  .form-control {
    border: none !important;
    height: auto !important;
    padding: 0 !important;

    &:focus {
      box-shadow: none !important;
    }
  }
}

.inline-button {
  // padding: 0 15px;
  min-width: 60px;
  max-width: 170px;
  overflow: hidden;
  font-size: 14px;
  outline: 0;
  border-color: #ff4438 !important;
  // border-color: #ffdd00 !important;

  &:hover,
  &:focus {
    background-color: #ff4438 !important;
    // background-color: #ffdd00 !important;
  }

  &:focus {
    box-shadow: none !important;
  }
}

// .hot-words {
//   display: flex;
//   width: 100%;
//   flex: 1;
// }

// .hot-words__list {
//   display: flex;
//   margin-top: 5px;
//   height: 1.5rem;
//   font-size: 0.7rem;
//   font-weight: 400;
//   line-height: 1.5rem;
//   overflow: hidden;
//   flex-wrap: wrap;

//   a {
//     &:first-child {
//       padding-left: 0;
//     }
//     padding: 0 8px;
//   }
// }

// .hot-words__item:first-child {
//   margin-left: 0;
// }

// .hot-words__item {
//   text-decoration: none;
//   white-space: nowrap;
//   color: hsla(0, 0%, 100%, 0.9);
// }
