:host{
    .box-card{
        min-width: 0 !important;
        box-shadow: none;
        > img{
            padding-top: 20px;
        }
    }

    .qr-title{
        text-align: center !important;
    }

    .verify{
        span{
            font-size: 0.7em;
        }
    }
}