:host {
  .root-card {
    min-width: 0 !important;
    background: #ffffff;

    box-shadow: none;
    > img {
      padding-top: 20px;
    }
  }

  .qr-title {
    text-align: center !important;
  }

  .verify {
    span {
      font-size: 0.7em;
    }
  }
}
