<section id="most-popular" class="tools-grey">
    <div class="container">
        <div class="viwer-wrapper">
            <div class="viwer-title">
                <div class="viwer-title-spacer title">
                    popular products
                </div>
                <button type="button" class="btn btn-link" (click)="owlMostPopular.prev()">
                    <fa-icon icon="chevron-circle-left"></fa-icon>
                </button>
                <button type="button" class="btn btn-link" (click)="owlMostPopular.next()">
                    <fa-icon icon="chevron-circle-right"></fa-icon>
                </button>
            </div>
            <div class="viwer-body">
                <owl-carousel-o #owlMostPopular [options]="carousel.options" *ngIf="loading">
                    <ng-container *ngFor="let ghost of ghosts">
                        <ng-template carouselSlide>
                            <div class="owl-sub-item">
                                <ghost-item></ghost-item>
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
                
                <owl-carousel-o #owlMostPopular [options]="carousel.options" [@fadeIn]="data.length">
                    <ng-container *ngFor="let product of data">
                        <ng-template carouselSlide>
                            <div class="owl-sub-item">
                                <product-box [product]="product" [mode]="'popular'"></product-box>
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>