<!-- <div class="collection-collapse-block">
  <h3 class="collapse-block-title" (click)="expand = !expand">colors</h3>
  <div class="collection-collapse-block-content" *ngIf="expand" [@expandCollapse]>
    <div class="color-selector">
      <div class="ui-g">
        <div class="ui-g-12" *ngFor="let filter of colorsFilters">
          <p-checkbox name="group1" [value]="filter.color" [label]="filter.color" [(ngModel)]="selectedColors"
            (onChange)="changedColorFilters.emit(selectedColors)" inputId="ny"></p-checkbox>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="ui-g">
  <div class="ui-g-12" *ngFor="let filter of colorsFilters">
    <p-checkbox name="group1" [value]="filter.color" [label]="filter.color" [(ngModel)]="selectedColors"
      (onChange)="changedColorFilters.emit(selectedColors)" inputId="ny"></p-checkbox>
  </div>
</div>