@import 'src/@vertical/scss/root';

:host {
  .voucher-card {
    background-image: url('/assets/backgrounds/voucher-02.svg');
    height: 177px;
    background-size: cover;
    background-repeat: no-repeat;

    @include media-breakpoint('lt-sm') {
      height: 115px;
    }

    .store {
      padding: 15px 35px 4px 35px;
      display: flex;
      align-items: center;

      @include media-breakpoint('lt-sm') {
        padding: 10px 20px 4px 25px;
      }

      nz-avatar {
        margin-right: 1em;
        width: 50px;
        height: 50px;
        line-height: 50px;

        @include media-breakpoint('lt-sm') {
          width: 30px;
          height: 30px;
          line-height: 30px;
        }
      }

      .store-name span {
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        word-break: break-word;
        font-size: 1.6rem;
        font-weight: bold;

        @include media-breakpoint('lt-sm') {
          font-size: 1rem;
        }
      }
    }

    .voucher-promo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 40px 0px 40px;

      @include media-breakpoint('lt-sm') {
        padding: 0px 25px 0px 25px;
      }

      .voucher-promo-value {
        font-size: 30px;
        font-weight: bold;
        color: #ff4438;

        @include media-breakpoint('lt-sm') {
          font-size: 16px;
        }
      }

      .voucher-min-spend {
        font-size: 18px;
        margin-left: 0.5em;
        font-weight: bold;
        color: #545454;

        @include media-breakpoint('lt-sm') {
          font-size: 12px;
        }
      }

      .voucher-redeem {
        button {
          font-size: 15px;
          letter-spacing: 3px;

          @include media-breakpoint('lt-sm') {
            font-size: 12px;
          }
        }
      }
    }

    .voucher-description {
      margin-top: 8px;

      .voucher-validity-label {
        text-align: right;

        .voucher-validity {
          padding: 0px 20px 0px 0px;
          font-size: 20px;
          font-weight: bold;
          //   color: #ff4438;
          @include media-breakpoint('lt-sm') {
            font-size: 13px;
          }
        }
      }

      .voucher-valid-date {
        padding: 0px 0px 0px 5px;
        font-size: 20px;
        font-weight: bold;

        @include media-breakpoint('lt-sm') {
          font-size: 13px;
        }
        // color: #ff4438;
      }
    }
  }
}
