toolbar {
  font-size: 0.8125rem;
  // font-weight: 600;

  .nav-link {
    color: rgba(255, 255, 255, 0.95) !important;
  }

  .follow-us {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
