<nav class="navbar navbar-expand-lg navbar-light d-none d-sm-block" [ngClass]="isMobile?'':'bg-primary'">
    <div class="container" [ngSwitch]="isAuthenticated()">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
            data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Seller Centre <nz-divider nzType="vertical"></nz-divider></a>
                </li>
                <li class="nav-item">
                    <div class="follow-us">
                        <a class="nav-link" href="#">Follow us on</a>
                        <a class="nav-link" target="_blank" href="https://www.facebook.com/ZeZaWarMyanmar"><i nz-icon
                                nzType="facebook" nzTheme="fill"></i></a>
                        <a class="nav-link" target="_blank" href="https://www.instagram.com/zezawar.myanmar/"><i nz-icon
                                nzType="instagram" nzTheme="fill"></i></a>
                        <a class="nav-link" target="_blank" href="https://twitter.com/zezawar9"><i nz-icon
                                nzType="twitter-square" nzTheme="fill"></i></a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav">
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">
                        <fa-icon icon="bell" class="mr-1"></fa-icon>Notification
                    </a>
                </li> -->
                <li class="nav-item" *ngSwitchCase="false">
                    <a class="nav-link" href="javascript:void(0);" (click)="register()">Signup</a>
                </li>
                <li class=" nav-item" *ngSwitchCase="false">
                    <a class="nav-link" href="javascript:void(0);" (click)="login()">Login</a>
                </li>
                <li id="track-my-order" class="nav-item dropdown" ngbDropdown #trackMyOrder="ngbDropdown"
                    *ngSwitchCase="true">
                    <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="navbarDropdown" role="button"
                        ngbDropdownToggle>
                        Track My Order
                    </a>
                    <div class="dropdown-menu" ngbDropdownMenu>
                        <h6 class="dropdown-header" *ngIf="(orders$ | async)?.length > 0">My Last Orders</h6>

                        <nz-skeleton [nzActive]="true" [nzLoading]="ordersLoading"></nz-skeleton>

                        <ul class="my-last-order" *ngIf="!ordersLoading">
                            <li class="dropdown-item" [routerLink]="['/pages/dashboard/my-orders',order.id,'view']"
                                *ngFor="let order of (orders$ | async) | orderBy:'-orderDate' | slice:0:5">
                                {{order.orderDate | date:'dd/MM/yyyy'}}
                                - Order
                                {{order.customerPurchaseOrderNumber}}
                            </li>
                        </ul>

                        <form class="track-my-order-form" nz-form [nzLayout]="'vertical'">
                            <nz-form-item>
                                <nz-form-label nzFor="order-number">Your order number:</nz-form-label>
                                <nz-form-control>
                                    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                                        <input #orderNumber name="order-number" id="order-number" type="text" nz-input
                                            placeholder="order number" />
                                    </nz-input-group>
                                    <ng-template #suffixIconButton>
                                        <button class="vertical-center" nz-button nzType="default" nzSearch (click)="onGoOrderDetails(orderNumber.value);orderNumber.value = ''
                                            ;trackMyOrder.close()"><i nz-icon nzType="search"></i></button>
                                    </ng-template>
                                </nz-form-control>
                            </nz-form-item>
                        </form>
                    </div>
                </li>
                <li class="nav-item dropdown" ngbDropdown *ngSwitchCase="true">
                    <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="navbarDropdown" role="button"
                        ngbDropdownToggle>
                        <fa-icon icon="user" class="mr-1"></fa-icon>
                        {{account.login | titlecase }}'s Account
                    </a>
                    <div class="dropdown-menu" ngbDropdownMenu>
                        <a class="dropdown-item" href="javascript:void(0);"
                            [routerLink]="['/pages/dashboard/my-profile']">
                            <fa-icon [icon]="['far','user']" class="mr-3"></fa-icon>My Profile
                        </a>
                        <a class="dropdown-item" href="javascript:void(0);"
                            [routerLink]="['/pages/dashboard/my-orders']">
                            <fa-icon [icon]="['fas','box']" class="mr-3"></fa-icon>My Orders
                        </a>
                        <!-- <div class="dropdown-divider"></div> -->
                        <a class="dropdown-item" href="javascript:void(0);"
                            [routerLink]="['/pages/dashboard/my-wishlist']">
                            <fa-icon [icon]="['far','heart']" class="mr-3"></fa-icon>My
                            Wishlist({{(wishlistCount$ | async)}})
                        </a>
                        <a class="dropdown-item" href="javascript:void(0);"
                            [routerLink]="['/pages/dashboard/my-compare']">
                            <fa-icon [icon]="['far','bookmark']" class="mr-3"></fa-icon>My
                            Compare({{(compareCount$ | async)}})
                        </a>
                        <a class="dropdown-item" href="javascript:void(0);"
                            [routerLink]="['/pages/dashboard/address-book']">
                            <fa-icon [icon]="['far','address-book']" class="mr-3"></fa-icon>Address Book
                        </a>
                        <a class="dropdown-item" href="javascript:void(0);" (click)="logout()">
                            <fa-icon [icon]="['fas','sign-out-alt']" class="mr-3"></fa-icon>Logout
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>