@import 'src/@vertical/scss/root';

sub-banner {
  .banner-timer {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 94px;

    .count-down-wrapper {
      // margin-top: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    .timer-root {
      justify-content: left;

      @include media-breakpoint('xs') {
        justify-content: center !important;
      }

      display: flex;
    }
  }

  .timer {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    margin-top: 10px;
    background-color: #2d2a25;
    display: inline-block;

    p {
      font-size: 18px;
      color: #ffffff;
      margin-bottom: 0;
    }

    span {
      width: 70px;
      display: inline-block;

      .timer-cal {
        font-size: 12px;
        color: #777777;
      }

      .padding-l {
        padding-left: 22px;
        display: inline;
      }
    }
  }

  .ant-statistic-title {
    font-size: 17px;
  }

  .ant-statistic-content {
    background: rgba(0, 0, 0, 0.2);
    color: #ffffff;
    padding: 0px 10px;
  }
}
