<div class="row banner-timer">
    <div class="col-md-6">
        <div class="banner-text">
            <h2>Save <span>30% off</span> Digital Watch</h2>
        </div>
    </div>
    <div class="col-md-6">
        <!-- <div class="timer-root">
            <div class="timer">
                <p id="demo">
                    <span>11<span class='padding-l'>:</span><span class='timer-cal'>Days</span></span>
                    <span>11<span class='padding-l'>:</span><span class='timer-cal'>Hrs</span></span>
                    <span>11<span class='padding-l'>:</span><span class='timer-cal'>Min</span></span>
                    <span>11<span class='timer-cal'>Sec</span></span>
                </p>
            </div>
        </div> -->
        <div class="count-down-wrapper">
            <nz-countdown [nzValue]="deadline" [nzTitle]="'COUNTDOWN'" [nzFormat]="'D : H : m : s'">
            </nz-countdown>
        </div>

    </div>
</div>