<div class="wishlist-section">
  <div class="row item" *ngFor="let product of (products$ | async)">
    <div class="col-md-1 buttons">
      <div *ngIf="($loading | async)" class="loader" style="font-size: 6px; top:25%"></div>
      <button type="button" class="close" aria-label="Close" *ngIf="(loaded$ | async)" (click)="removeFromWishlist(product)"
        placement="bottom" ngbTooltip="Remove from wishlist">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="col-md-3 image">
      <img *ngIf="product.photo;else noimage" src="{{product.photo}}" alt="" [routerLink]="['/products',product.id]" />
      <ng-template #noimage>
        <img src="assets/images/noimage.png" alt="no image preview">
      </ng-template>
    </div>

    <div class="col-md-3 description">
      <span style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; cursor: pointer"
        [routerLink]="['/products',product.id]">
        {{product.productName}}
      </span>
      <span>{{product.productSubCategoryProductSubCategoryName}}</span>
    </div>

    <div class="col-md-3">
      <div class="availability">
        <span>In Stock</span>
      </div>
    </div>

    <div class="col-md-1 price">
      <div class="item-price">
        <span>${{product.unitPrice.toFixed(2) | number:'1.2'}}</span>
      </div>
    </div>

    <div class="col-md-1">
      <div class="add-cart">
        <button type="button" id="add-cart" class="btn btn-warning" (click)="addToCart(product)">
          <fa-icon [icon]="'cart-plus'"></fa-icon>
        </button>        
      </div>
    </div>
  </div>
</div>