<vs-panel [title]="'My Reviews'">
  <div body class="content-wrapper">
    <nz-tabset (nzSelectedIndexChange)="selectedChanged($event)">
      <nz-tab [nzSize]="'small'" [nzTitle]="'To Be Reviewed'"></nz-tab>
      <nz-tab [nzSize]="'small'" [nzTitle]="'History'"></nz-tab>
    </nz-tabset>

    <nz-table class="no-hover-row" #nzHistoryTable [nzData]="(orders$ | async) | orderBy:'-orderDate'"
      [nzFrontPagination]="false" nzTableLayout="fixed" [nzTotal]="(totalItems$| async)" [nzPageIndex]="page"
      [nzPageSize]="itemsPerPage" [nzShowRowSelection]="false" [nzLoading]="orderLoading$ | async"
      [nzHideOnSinglePage]="true" (nzQueryParams)="onQueryParamsChange($event)">
      <tbody>
        <ng-container *ngFor="let data of nzHistoryTable.data">
          <tr *ngFor="let orderPackage of (data.orderDetails)">
            <td>
              <div nz-row *ngIf="orderPackage.completedReview;else toreview">
                <div nz-col class="gutter-row" [nzXs]="24" [nzLg]="16">
                  <div class="inner-box">
                    <h6 nz-typography>Purchased on {{ data.orderDate | date}}</h6>
                    <span>Rate and review purchased product:</span>
                    <nz-skeleton [nzAvatar]="true" [nzParagraph]="{ rows: 4 }"
                      *ngIf="data.orderDetails.length === 0;else showReviewLines"></nz-skeleton>
                    <ng-template #showReviewLines>
                      <div class="media mt-4" *ngFor="let item of orderPackage.orderLinesList; let i = index;">

                        <img *ngIf="item.stockItemPhoto;else noimage"
                          [src]="blobUrl + item.stockItemPhoto + '/thumbnail'" alt="" class="mr-3 product" />
                        <ng-template #noimage>
                          <img src="assets/images/noimage.svg" alt="no image preview" class="mr-3 product">
                        </ng-template>

                        <div class="media-body">
                          <h6 class="mt-0">{{item.description}}</h6>
                          <p *ngIf="item.supplierName">Sold By : {{item.supplierName}}</p>
                          <nz-rate [(ngModel)]="item.lineRating" nzDisabled></nz-rate>
                          <p class="mt-2">Review Detail</p>

                          <span nz-typography *ngIf="item.lineReview"><code>{{item.lineReview}}</code></span>
                          <div class="clearfix">
                            <img width="100" *ngIf="item.reviewImageBlob"
                              [src]="blobUrl + item.reviewImageBlob + '/thumbnail'" />
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </div>
                </div>
                <div nz-col class="gutter-row" [nzXs]="24" [nzLg]="8">
                  <div class="inner-box">
                    <nz-skeleton [nzAvatar]="true" [nzParagraph]="{ rows: 4 }" *ngIf="!data;else showReviews">
                    </nz-skeleton>
                    <ng-template #showReviews>
                      <nz-list nzItemLayout="vertical" [nzSplit]="false"
                        [nzHeader]="'Seller and Delivery Rate & Review'">
                        <nz-list-item>
                          <nz-list-item-meta>
                            <nz-list-item-meta-title>
                              Rate and review your seller:
                            </nz-list-item-meta-title>
                            <nz-list-item-meta-description>
                              <nz-rate [(ngModel)]="orderPackage.sellerRating" nzDisabled>
                              </nz-rate>
                              <p class="mt-2">Review Detail</p>

                              <span nz-typography><code>{{orderPackage.sellerReview}}</code></span>
                            </nz-list-item-meta-description>
                          </nz-list-item-meta>
                        </nz-list-item>

                        <nz-list-item>
                          <nz-list-item-meta>
                            <nz-list-item-meta-title>
                              Rate and review delivery service:
                            </nz-list-item-meta-title>
                            <nz-list-item-meta-description>
                              <nz-rate [(ngModel)]="orderPackage.deliveryRating" nzDisabled>
                              </nz-rate>
                              <p class="mt-2">Review Detail</p>

                              <span nz-typography><code>{{orderPackage.deliveryReview}}</code></span>
                            </nz-list-item-meta-description>
                          </nz-list-item-meta>
                        </nz-list-item>
                      </nz-list>
                    </ng-template>
                  </div>
                </div>
              </div>

              <ng-template #toreview>
                <nz-list nzBordered nzHeader="Purchased on  {{data.orderDate | date}}">
                  <nz-list-item>
                    <div>
                      <img width="100" height="100" [src]="blobUrl + item.stockItemPhoto + '/thumbnail'"
                        *ngFor="let item of orderPackage.orderLinesList">
                    </div>

                    <button nz-button nzType="default" nzDanger
                      [routerLink]="['/pages/dashboard/my-reviews', orderPackage.id, 'write-reviews']"
                      [disabled]="orderPackage.completedReview">Review</button>
                  </nz-list-item>
                </nz-list>
              </ng-template>

            </td>
          </tr>
        </ng-container>
      </tbody>
    </nz-table>
  </div>
</vs-panel>