:host {
  .order-summary-button {
    width: 100%;
    text-align: left;
    text-decoration: none;
    color: #333333;
    font-weight: 400;
  }

  .expected-delivery-date {
    font-weight: 600;
  }

  .continue-shopping {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .price-label {
    text-align: center;
    font-size: 16px;
    color: #43484d;
    font-weight: 500;
  }

  .price-amount {
    font-size: 18px;
    font-weight: 500;
    color: #ff5722;
  }

  .order-line-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;

    .order-line {
      margin-right: 0.5em;

      > img {
        border: 1px solid #fff;
        border-radius: 3px;
        border-color: #f57123;
      }
    }
  }

  button {
    &.total-due-button {
      span {
        color: #f57224;
        font-size: 1.4em;
      }
    }

    &.btn-link:hover {
      color: inherit !important;
      text-decoration: none !important;
    }
  }

  #order-success-summary {
    &.table {
      tbody {
        tr {
          td {
            &:last-child {
              text-align: right !important;
            }

            .total-due {
              color: #f57224;
              font-size: 1.4em;
            }
          }
        }
      }
    }
  }

  .gst-label {
    font-size: 0.85em;
    font-weight: 600;
    text-align: right !important;
    color: #8a8a8a;
  }

  #continue-shopping {
    padding: 15px 20px;
    font-size: 1.8em;
  }
}
