<div class="container-fluid">
  <div class="portlet-header d-flex justify-content-end">
    <button type="button" class="btn btn-primary"
      [routerLink]="['/pages/dashboard/address-book/new']">
      <fa-icon [icon]="'plus'"></fa-icon>&nbsp;<span>Add New Address</span>
    </button>
  </div>
  <div *ngFor="let addresses of (addresses$ | async) | orderBy:lastModifiedDate ;trackBy: trackId">
    <dashboard-address [addresses]="addresses" [account]="account" (editAddress)="onEditAddress($event)"
      (deleteAddress)="onDeleteAddress($event)" (setDefault)="onSetDefault($event)"></dashboard-address>
  </div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" [transitionOptions]="'0ms'" appendTo="body">
</p-confirmDialog>