<div class="footer-banner">
    <!-- <img src="assets/footer/footer.svg"> -->
    <div class="container footer-container footer-banner-cover newsletter">
        <div nz-row [nzGutter]="0" class="newsletter-row">
            <div nz-col class="gutter-row newsletter__title-wrapper" [nzXs]="{ span: 24 }" [nzLg]="{ span: 12 }">
                <span class="newsletter__title">Join us to receive $15 OFF on your first purchase over $100</span>
            </div>
            <div nz-col class="gutter-row" [nzXs]="{ span: 24}" [nzLg]="{ span: 12 }">
                <nz-input-group nzSearch nzSize="medinum" [nzAddOnAfter]="suffixButton">
                    <input type="text" nz-input placeholder="your.address@email.com" />
                </nz-input-group>
                <ng-template #suffixButton>
                    <button nz-button nzType="primary" nzSize="medinum" nzSearch>JOIN US</button>
                </ng-template>
            </div>
        </div>
    </div>
</div>
<div class="container footer-container">
    <div nz-row [nzGutter]="0">
        <div nz-col class="gutter-row" [nzLg]="4" *ngFor="let item of data">
            <nz-list nzItemLayout="horizontal" [nzSplit]="false" [nzSize]="'small'">
                <nz-list-header>{{item.title | uppercase}}</nz-list-header>
                <nz-list-item *ngFor="let child of item.children">
                    <nz-list-item-meta>
                        <nz-list-item-meta-title>
                            <a [href]="child.url?child.url:'javascript:void(0)'"
                                [target]="(child.url && child.extraLink)?'_blank':''">{{child.title | titlecase}}</a>
                        </nz-list-item-meta-title>
                    </nz-list-item-meta>
                </nz-list-item>
            </nz-list>
        </div>
    </div>
    <div nz-row [nzGutter]="0">
        <div nz-col class="gutter-row" [nzLg]="12">
            <!-- <a class="twitter-timeline" data-theme="light"
                href="https://twitter.com/zezawar9?ref_src=twsrc%5Etfw">Tweets by TwitterDev</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <ngx-twitter-timeline [data]="{sourceType: 'url', url: 'https://twitter.com/zezawar9?ref_src=twsrc%5Etfw'}"
                [opts]="twitterOptions">
            </ngx-twitter-timeline> -->
            <div class="twitterFeed">
                <div class="tweets" id="twitterFeed"><small>Please wait whilst our latest tweets load</small></div>
                <a href="https://twitter.com/zezawar9?ref_src=twsrc%5Etfw" class="twitter-follow-button"
                    data-show-count="false">Follow
                    @gardilo</a>
                <script>
                    ! function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (!d.getElementById(id)) {
                            js = d.createElement(s);
                            js.id = id;
                            js.src = "//platform.twitter.com/widgets.js";
                            fjs.parentNode.insertBefore(js, fjs);
                        }
                    }(document, "script", "twitter-wjs");
                </script>
            </div>
        </div>

        <div nz-col class="gutter-row" [nzLg]="12">
            <div class="social-share social-share d-flex justify-content-end">
                <div class="fb-like d-flex align-self-center" data-href="https://www.facebook.com/hogash.themeforest"
                    data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                <div id="fb-root"></div>
                <script>
                    (function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=1380815252226236";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                </script>
                <!--/ Facebook Script -->

                <!-- <div class="twitter-button d-flex align-self-center">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-via="hogash"
                        data-counturl="https://dev.twitter.com/web/tweet-button">Tweet</a>
                </div> -->

                <div class="google-button d-flex align-self-center">
                    <div class="g-follow" data-annotation="bubble" data-height="20"
                        data-href="//plus.google.com/u/0/118411267887632617276" data-rel="author"></div>
                    <script src="https://apis.google.com/js/platform.js" async defer></script>
                </div>

                <div class="pinterest-button d-flex align-self-center">
                    <a href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonPin">
                    </a>
                    <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
                </div>
            </div>

            <div class="payments-links d-flex">
                <ul class="ml-auto mt-20">
                    <li>
                        <a href="javascript:void(0)">
                            <fa-icon [icon]="['fab','cc-paypal']"></fa-icon>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <fa-icon [icon]="['fab','cc-visa']"></fa-icon>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <fa-icon [icon]="['fab','cc-mastercard']"></fa-icon>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <fa-icon [icon]="['fab','cc-amex']"></fa-icon>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <nz-divider></nz-divider>
    <nz-list nzItemLayout="horizontal" class="footer-copyright">
        <nz-list-item>
            <nz-list-item-meta>
                <nz-list-item-meta-title>
                    <span>&copy; 2020 gardilo.com</span>
                </nz-list-item-meta-title>
            </nz-list-item-meta>
            Available Cities :
            <ul nz-list-item-actions>
                <nz-list-item-action><a href="javascript:void(0)">Yangon</a></nz-list-item-action>
                <nz-list-item-action><a href="javascript:void(0)">Mandalay</a></nz-list-item-action>
                <nz-list-item-action><a href="javascript:void(0)">Hinthata</a></nz-list-item-action>
            </ul>
        </nz-list-item>
    </nz-list>
</div>