<div class="container footer-container">
    <div class="row">
        <div class="col-sm-12 col-md-5 mb-30">
            <!-- <h3 class="title m_title">
                ZEZAWAR
            </h3> -->

            <div class="sbs">
                <ul class="menu">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about-us.html">About us</a></li>
                    <li><a href="our-team.html">Our team</a></li>
                    <li><a href="faq.html">F.A.Q</a></li>
                    <li><a href="styles-typography.html">Template styles</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="careers.html">Career</a></li>
                    <li><a href="process.html">Jobs</a></li>
                    <li><a href="contact-us.html">Contact</a></li>
                </ul>
            </div>
        </div>

        <div class="col-sm-12 col-md-4 mb-30">
            <div class="newsletter-signup">
                <h3 class="title m_title">
                    NEWSLETTER SIGNUP
                </h3>

                <!-- <p>
                    By subscribing to our mailing list you will always be update with the latest news from us.
                </p> -->

                <form target="_blank" novalidate>
                    <input type="email" value="" name="EMAIL" class="nl-email form-control" id="mce-EMAIL"
                        placeholder="your.address@email.com" required>
                    <input type="submit" name="subscribe" class="nl-submit" id="mc-embedded-subscribe" value="JOIN US">
                    <div style="position: absolute; left: -5000px;">
                        <input type="text" name="b_xxxxxxxxxxxxxxxxxxxCUSTOMxxxxxxxxx" value="">
                    </div>
                </form>

                <div id="notification_container"></div>

                <p>
                    We never spam!
                </p>
            </div>
        </div>

        <div class="col-sm-12 col-md-3 mb-30">
            <h3 class="title m_title">
                GET IN TOUCH
            </h3>

            <div class="contact-details">
                <p>
                    <strong>T (212) 555 55 00</strong><br>
                    Email: <a href="#">sales@zezawar.com</a>
                </p>

                <p>
                    Your Company LTD<br>
                    Street nr 100, 4536534, Chicago, US
                </p>

                <p>
                    <a href="#" target="_blank">
                        <i class="icon-map-marker white-icon"></i>
                        Open in Google Maps
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="twitterFeed">
                <div class="tweets" id="twitterFeed"><small>Please wait whilst our latest tweets load</small></div>
                <a href="https://twitter.com/Hogash" class="twitter-follow-button" data-show-count="false">Follow
                    @zezawar</a>
                <!-- twitter script -->
                <script>
                    ! function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (!d.getElementById(id)) {
                            js = d.createElement(s);
                            js.id = id;
                            js.src = "//platform.twitter.com/widgets.js";
                            fjs.parentNode.insertBefore(js, fjs);
                        }
                    }(document, "script", "twitter-wjs");
                </script>
                <!--/ twitter script -->
            </div>
        </div>

        <div class="col-sm-12 col-md-6 mb-30">
            <div class="social-share social-share d-flex justify-content-end">
                <div class="fb-like d-flex align-self-center" data-href="https://www.facebook.com/hogash.themeforest"
                    data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                <div id="fb-root"></div>
                <script>
                    (function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=1380815252226236";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                </script>
                <!--/ Facebook Script -->

                <!-- <div class="twitter-button d-flex align-self-center">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-via="hogash"
                        data-counturl="https://dev.twitter.com/web/tweet-button">Tweet</a>
                </div> -->

                <div class="google-button d-flex align-self-center">
                    <div class="g-follow" data-annotation="bubble" data-height="20"
                        data-href="//plus.google.com/u/0/118411267887632617276" data-rel="author"></div>
                    <script src="https://apis.google.com/js/platform.js" async defer></script>
                </div>

                <div class="pinterest-button d-flex align-self-center">
                    <a href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonPin">
                    </a>
                    <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
                </div>
            </div>

            <div class="payments-links d-flex">
                <ul class="ml-auto mt-20">
                    <li>
                        <a href="#" class="fab fa-cc-paypal">
                            <fa-icon [icon]="['fab','cc-paypal']"></fa-icon>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="fab fa-cc-visa">
                            <fa-icon [icon]="['fab','cc-visa']"></fa-icon>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="fab fa-cc-mastercard">
                            <fa-icon [icon]="['fab','cc-mastercard']"></fa-icon>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="fab fa-cc-amex">
                            <fa-icon [icon]="['fab','cc-amex']"></fa-icon>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="bottom clearfix">
                <ul class="social-icons sc--clean clearfix">
                    <li class="title">GET SOCIAL</li>
                    <li><a href="#" target="_self" class="fab fa-facebook-f" title="Facebook">
                            <fa-icon [icon]="['fab','facebook-f']"></fa-icon>
                        </a></li>
                    <li><a href="#" target="_self" class="fab fa-twitter" title="Twitter">
                            <fa-icon [icon]="['fab','twitter']"></fa-icon>
                        </a></li>
                    <li><a href="#" target="_self" class="fab fa-dribbble" title="Dribbble">
                            <fa-icon [icon]="['fab','dribbble']"></fa-icon>
                        </a></li>
                    <li><a href="#" target="_self" class="fab fa-google-plus-g" title="Google Plus">
                            <fa-icon [icon]="['fab','google-plus-g']"></fa-icon>
                        </a></li>
                </ul>

                <div class="copyright">
                    <a href="index.html"><img src="/assets/logo/zezawar.svg" alt="Zezawar Demo"></a>
                    <p>© 2019 All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>