<vs-panel [title]="title | uppercase">
    <div extra>
        <nz-space>
            <nz-space-item>
                <a nz-button nzType="link" nzDanger (click)="owl.prev()">
                    <i nz-icon nzType="left-square" nzTheme="fill" style="font-size: 1.5em;"></i>
                </a>
            </nz-space-item>
            <nz-space-item>
                <a nz-button nzType="link" nzDanger (click)="owl.next()">
                    <i nz-icon nzType="right-square" nzTheme="fill" style="font-size: 1.5em;"></i>
                </a>
            </nz-space-item>
        </nz-space>
    </div>
    <div body class="content-wrapper">
        <owl-carousel-o #owl [options]="carousel.options">
            <ng-container *ngIf="bundles && bundles.length > 0;else skelton">
                <ng-template carouselSlide *ngFor="let bundle of bundles">
                    <div class="category" *ngFor="let category of bundle">
                        <a [routerLink]="['/search']" routerLinkActive="active"
                            [queryParams]="{categoryId: category.id}" [nzTooltipTitle]="category.myanmarName"
                            nzTooltipPlacement="bottom" nz-tooltip>
                            <nz-card class="category-card" nzHoverable [nzCover]="coverTemplate">
                                <nz-card-meta [nzDescription]="descriptionTemplate">
                                </nz-card-meta>
                            </nz-card>
                            <ng-template #coverTemplate>
                                <img alt="NoImage" [src]="blobUrl + category.iconPhoto + '/thumbnail'"
                                    *ngIf="category.iconPhoto;else noImage" />
                            </ng-template>
                            <ng-template #noImage>
                                <div class="category-image"
                                    [style.backgroundImage]="'url(/assets/images/no-image2.svg)'">
                                </div>
                            </ng-template>
                            <ng-template #descriptionTemplate>
                                <span class="card-item-title">{{category.myanmarName}}</span>
                            </ng-template>
                        </a>
                    </div>
                </ng-template>
            </ng-container>
            <ng-template #skelton>
                <nz-skeleton></nz-skeleton>
            </ng-template>
        </owl-carousel-o>
    </div>
</vs-panel>