<section id="product-category">
    <div class="container">
        <div class="viwer-wrapper">
            <div class="viwer-title">
                <div class="viwer-title-spacer title">
                    categories
                </div>
                <button type="button" class="btn btn-link" (click)="owlCategory.prev()">
                    <fa-icon icon="chevron-circle-left"></fa-icon>
                </button>
                <button type="button" class="btn btn-link" (click)="owlCategory.next()">
                    <fa-icon icon="chevron-circle-right"></fa-icon>
                </button>
            </div>
            <div class="viwer-body">
                <div class="content">
                    <owl-carousel-o #owlCategory [options]="carousel.options">
                        <ng-container class="bundle" *ngFor="let bundle of data">
                            <ng-template carouselSlide>
                                <div class="category" *ngFor="let category of bundle">
                                    <a [routerLink]="['/search','_blank']" routerLinkActive="active"
                                        [queryParams]="{category: category.id}">
                                        <div class="category-item">
                                            <img
                                                src="assets/images/home/product-category/categories2/{{category.name}}.png">
                                            <div class="title p-2 line-height-1.75 word_wrap">
                                                {{category.name}}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </div>
</section>