@import 'src/@vertical/scss/root';

:host {
  // .content-wrapper {
  //   border: 1px solid #ececec;
  // }

  .product-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 1em;

    .product-item {
      border: none;
      display: flex;
      align-items: flex-start;
      background: transparent;
      padding: 5px;

      .card-preview {
        width: 100%;
        display: flex;
      }

      .card-source {
        display: none;
      }
    }

    .load-more-wrapper {
      padding-top: 8px;
      width: 100%;

      .load-more {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0px;
        background: #ffffff;
      }
    }
  }
}
