@import 'src/@eps/scss/root';

daily-discover {
  .content-wrapper {
    border: 1px solid #ececec;
  }

  .product-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    .product-item {
      border: none;
      display: flex;
      align-items: flex-start;
      background: transparent;
      padding: 5px;

      flex: 0 0 16.66666667%;
      max-width: 16.66666667%;

      @include media-breakpoint('sm') {
        flex: 0 0 33.33333333%;
        max-width: 33.33333333%;
      }

      @include media-breakpoint('md') {
        flex: 0 0 33.33333333%;
        max-width: 33.33333333%;
      }

      @include media-breakpoint('xs') {
        flex: 0 0 50%;
        max-width: 50%;
      }

      .card-preview {
        display: flex;
      }

      .card-source {
        display: none;
      }
    }
  }
}
