<vs-panel [title]="title | uppercase" *ngIf="minPrice<maxPrice">
    <div body class="content-wrapper">
        <div class="price-wrapper mx-3 mt-4">
            <nz-slider nzRange [(ngModel)]="priceRange" [nzMax]="maxPrice" [nzMin]="minPrice"
                (nzOnAfterChange)="priceChanged()"></nz-slider>
            <div class="display-price">
                <span>min: ${{priceRange[0] | number}}</span>
                <span>max: ${{priceRange[1] | number}}</span>
            </div>
        </div>
    </div>
</vs-panel>