<div class="collection-collapse-block">
  <h3 class="collapse-block-title" [ngClass]="expand?'expanded':'collapsed'" (click)="expand = !expand">Condition
  </h3>
  <div class="collection-collapse-block-content" *ngIf="expand" [@expandCollapse]>
    <div class="condition-selector mx-3 mt-4">
      <nz-checkbox-wrapper (nzOnChange)="log($event)">
        <div *ngFor="let item of condition">
          <label nz-checkbox [nzValue]="item.value" [ngModel]="item.checked">{{item.label}}</label>
          <br />
        </div>
      </nz-checkbox-wrapper>
    </div>
  </div>
</div>